<link rel="stylesheet" href="/css/adminsidebar.css" />
<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

<body id="body-pd">
    <header class="header" id="header">
        <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
        <div class="header_img">       
            <img id="profilePic" class="pic" th:src="${profile.url}"  th:alt="${profile.name}" />
        </div>
    </header>
    <div class="l-navbar" id="nav-bar">
        <nav class="nav sidebar">
            <div><a href="#" class="nav_logo"> <i class='bx bx-layer nav_logo-icon'></i> <span
                        class="nav_logo-name">Menu</span> </a>
                <div class="nav_list"> <a href="#" class="nav_link active"> <i class='bx bx-user nav_icon'></i> <span
                            class="nav_name">Profile</span> </a>

                    <a href="#" class="nav_link nav-link"><i class='bx bxs-user-detail'></i><span class="nav_name">User
                            List</span> </a>
                    <!-- <a class="nav-link nav-item has-submenu" href="#">  <i class='bx bxs-user-detail'></i> <span class="nav_name">User List</span>  </a> -->
                    <div class="submenu collapse nav_list">
                        <a class="nav_link" href="#"><i class='bx bx-group'></i><span class="nav_name">Student
                                List</span> </a>
                        <a class="nav_link" href="#"><i class='bx bxs-group'></i><span class="nav_name">Teacher
                                List</span> </a>
                    </div>

                    <a href="#" class="nav_link"> <i class='bx bx-book-open'></i><span class="nav_name">Courses</span>
                    </a>
                    <a href="#" class="nav_link"> <i class='bx bxs-user-x'></i><span class="nav_name">Absence
                            List</span> </a>


                    <!-- <div><a href="#" class="nav_logo"> <i class='bx bx-layer nav_logo-icon'></i> <span class="nav_logo-name">Menu</span> </a>
                <div class="nav_list"> <a href="#" class="nav_link active"> <i class='bx bx-user nav_icon'></i> <span class="nav_name">Profile</span> </a>
                    <a href="#" class="nav_link"> <i class='bx bxs-user-detail'></i> <span class="nav_name">User List</span> </a> 
                    <a href="#" class="nav_link"><i class='bx bxs-user-detail'></i><span class="nav_name">User List</span> </a>
                    <ul class="submenu collapse">
                        <li><a class="nav-link" href="#">Student List</a></li>
                        <li><a class="nav-link" href="#">Teacher List</a></li>
                    </ul>
                    <a href="#" class="nav_link"> <i class='bx bx-book-open'></i><span class="nav_name">Courses</span> </a> 
                    <a href="#" class="nav_link"> <i class='bx bx-message-square-detail nav_icon'></i> <span class="nav_name">Review List</span> </a> 
                    <a href="#" class="nav_link"> <i class='bx bxs-user-x'></i><span class="nav_name">Absence List</span> </a>                   
                    <!-- <a href="#" class="nav_link"> <i class='bx bx-bar-chart-alt-2 nav_icon'></i> <span class="nav_name">Stats</span> </a> </div> -->
                </div> <a href="#" class="nav_link"> <i class='bx bx-log-out nav_icon'></i> <span class="nav_name">Log
                        Out</span> </a> -->
        </nav>
    </div>
    <script src="/js/adminsidebar.js"></script>