<!-- Footer-->
<footer class="container-fluid no-padding">
  <div class="footer__container">
    <div
      class="d-lg-flex flex-sm-column flex-md-row justify-content-between align-items-sm-center footer__div"
    >
      <div class="footer__holder">
        <h2 class="footer__title">Get to Know Us</h2>
        <ul 
        class="footer__subtitle"
        style="line-height: 200%">
          <li>
            <a
              
              style="color: white; text-decoration: none; font-size: 19px;"
              th:href="@{/guest/frequently_asked_questions}"
              target="_blank"
            >
              <span class="hovers">FAQs</span>
            </a>
          </li>
          <li>
            <a
              style="color: white; text-decoration: none; font-size: 19px;"
              th:href="@{ /guest/terms_and_conditions}"
              target="_blank"
            >
              <span class="hovers">Terms and Conditions</span>
            </a>
          </li>
          <li>
            <a
              style="color: white; text-decoration: none; font-size: 19px;"
              th:href="@{/guest/help_and_support}"
              target="_blank"
            >
              <span class="hovers">Help and support</span>
            </a>
          </li>
          <li>
            <a
              th:href="@{/guest/about_management_company}"
              style="color: white; text-decoration: none; font-size: 19px;"
              target="_blank"
              rel="noopener noreferrer"
            >
              <span class="hovers">About the management company</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__holder">
        <h2 class="footer__title">Contact</h2>
        <ul
          class="footer__subtitle"
          style="line-height: 200%"
        >
          <li><span style="font-size: 19px;">Tel: +959 98-656-3091</span></li>
          <li><span style="font-size: 19px;">Viber: +959 98-656-3091</span></li>
          <li><span style="font-size: 19px;">Telegram: +959 98-656-3091</span></li>
          <li><span style="font-size: 19px;">Line: +959 98-656-3091</span></li>
        </ul>
      </div>
      <div class="footer__holder">
        <img
          src="../images/bliss-stock.png"
          alt="logo"
          class="align-self-end"
        />

      </div>
    </div>
    <div class="copyright">
      <div class="center">
        <p class="copyright__text">
          © Copyright Pyinnyar Subuu. All Rights
          Reserved
        </p>
      </div>
    </div>
  </div>
</footer>

