 /*General*/

 :root {
	/* Colors */
	--primary: #309986;
    --secondary:#ffffff;
    --info: rgb(171, 240, 223);
    --grey: rgb(230, 241, 243);
    --cardbox: #3abea6e7;
    --btnbg: rgba(16, 226, 233, 0.993);
    --btnborder:#fff;
    --btnshadow:#000;

}

        
 body {
    /* font-family: 游ゴシック, "Yu Gothic", 游ゴシック体, YuGothic, sans-serif; */
    
}

p {
    font-size: 16px;
}

.fa-5x {
    color: #7749f8;
}

.btnColor {
    
	border: none;
    border-radius: 15px;
	font-size: 18px;
	padding: 5px 10px;
	width: fit-content;
	margin-top: 10px;
    transition: 0.5s;
    color: var(--btnshadow) ;
    background: var(--btnbg);
    border: 2px solid var(--btnborder);
    box-shadow: 2px 2px 3px var(--btnshadow);

}

.btnColor:hover,
.btnColor:focus {
	border: none;
	border-radius: 15px;
	font-size: 20px;
    letter-spacing: 1px;
	padding: 5px 10px;
	width: fit-content;
	margin-top: 10px; 
    transition: 0.5s;
    color: var(--btnshadow);
    background: var(--btnborder);
    transform: scale(0.88);
    outline: 0;
    box-shadow: 2px 2px 3px var(--btnshadow);
    
    
    
}

.btn-reset {
    /* font-family: 游ゴシック, "Yu Gothic", 游ゴシック体, YuGothic, sans-serif; */
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 32px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    color: var(--secondary);
    background: var(--primary);
}


/* carousel */

.carousel-caption {
    text-align: left;
    left: 20%;
    top: 50%;
    transform: translateY(-50%);
    text-transform: uppercase;
}
/* header image area */

.header-img {
    width: 100%;
    height: 30%;
}
/*section*/

.sec-header {
    margin: 40px 0 0;
    /* font-family: 游ゴシック, "Yu Gothic", 游ゴシック体, YuGothic, sans-serif; */
    font-weight: 300px;
}

.sec-content {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 200px;
    margin-right: 200px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    text-align: center;
}

.sec-content .violet-text {
    color: var(--secondary);
}

.sec-content img {
    border-radius: 5px;
}

@media(max-width:1200px) {
    .sec-content {
        margin-left: 50px;
        margin-right: 50px;
    }
}

.sec-content-text {
    margin-top: 20px;
}
/* form section */

.form-header {
    margin-top: 120px;
    padding-top: 100px;
}

.form-header p {
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 20px;
    color: var(--secondary);
}

.form-header-col {
    background: var(--primary);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
/* .form-row {
padding-top: 30px;
} */

.form-col {
    border-left: 1px solid rgb(165, 163, 163);
    border-right: 1px solid rgb(165, 163, 163);
    border-bottom: 1px solid rgb(165, 163, 163);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /* background-color: burlywood; */
}

.col-form-label-rt {
    text-align: right;
}

.bg-red {
    text-align: center;
    color: var(--secondary);
    background: rgb(255, 0, 0);
}

.bg-grey {
    text-align: center;
    color: var(--secondary);
    background: rgb(131, 130, 130);
}

.form-sec-header {
    padding-top: 20px;
    color: var(--info);
}
/*footer*/

.footer-link {
    margin-top: 40px;
    padding: 40px 0 30px 0;
    background-color: #DAD9D9;
}

.footer-link ul {
    padding: 0;
}

.footer-link ul li {
    list-style-type: none;
    float: left;
}

.footer-link ul li a {
    font-weight: 600;
    text-decoration: none;
    font-size: 14px;
    color: rgb(0, 0, 0);
    display: block;
    padding: 5px 15px;
}

.footer-link ul li a:hover {
    color: var(--info);
}

.footer-link ul li.active a {
    color: var(--info);
}

.footer-social {
    background-color: #DAD9D9;
    color: rgb(0, 0, 0);
}

.copy-c {
    padding: 15px 0;
}
/* Back to top button */

.back-to-top {
    position: fixed;
    display: none;
    background: var(--primary) ;
    color: var(--secondary);
    display: inline-block;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    border-radius: 50%;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    z-index: 11;
}

.back-to-top i {
    padding-top: 12px;
    color: var(--secondary);
}

@media (max-width: 768px) {
    .back-to-top {
        bottom: 15px;
    }
}
/* The side navigation menu */

.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #111;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}
/* The navigation menu links */

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
/* When you mouse over the navigation links, change their color */

.sidenav a:hover {
    color: var(--secondary);
}
/* Position and style the close button (top right corner) */

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#main {
    transition: margin-left .5s;
    padding: 20px;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}
/*body {
    margin: 0px;
    height: 100vh;
    background: #1283da;
}*/
/*radio button hide css code start*/

ul {
    list-style: none;
}

li {
    display: inline-block;
    margin-right: 15px;
}
/*input {
    visibility: hidden;
}*/

label {
    cursor: pointer;
}

input:checked+label {
    color: blue;
    background-color: yellowgreen;
}

.card{
    max-width: 720px;
    margin-right: 16px;
    margin-left: 16px;
    margin-right: auto;
    margin-left: auto;
}
.file {
    visibility: hidden;
    position: absolute;
  }


  .container1{
    position: relative;
}

.breadcrums{
    background: var(--grey);
    position: absolute;
    top: 100px;
    left: 0px;
    
} 

.container2{
    position: absolute;
    top: 190px;
    left: 45%;

    transform: translateX(-45%);
}

.cardboxs{
    width: 200%;
    background:  var(--cardbox);
    border-radius: 5px;
	box-shadow: 5px 10px 20px rgba(0,0,0,0.5);
}

@media screen and (min-width: 450px) {
    .cardboxs{
        width: 120%;
    }

}

.titles{
    font-size: 22px;
    text-shadow:-2px -2px 2px var(--btnshadow);
	color: var(--btnborder);
	
}

.secondtitles{
    font-size: 20px;
    color: #fff;
    font-weight: 600;
}

.footers{
    position: absolute;
    top: 180%;
}

@media screen and (min-height: 450px) {
    .footers{
       transform: translateY(75%);
    }

}





