* {
  margin: 0;
  
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box !important;
  text-decoration: none !important;
  scroll-behavior: smooth;
}
/* scrollbar
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #309986;
}
.bg-success,
.btn-success {
  background-color: #309986 !important;
}
.text-success {
  color: #309986 !important;
}
body {
  background-color: #f5f5f5;
}
.fw-bold {
  font-weight: 550 !important;
}

.add-student-box{
  animation: fadeIn 1s;
}

#add_student_search_box,#student_search_box{
  border-radius: 20px;
  border: 1px solid black;
  overflow: hidden;
}
.add-student-content{
  width: 500px !important;
}
#add_student_search:focus{
  outline: none;
}
#add_student_search::placeholder,#student_search::placeholder{
  font-size: 16px;
}

@keyframes fadeIn {
  0%{opacity: 0%;}
  100%{opacity: 100%;}
}

#student_search_box{
  width: 500px;
}
#student_search:focus {
  outline: none;
}

.card {
  transition: 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.02);
}

/* #searchIcon{
    cursor: pointer;
    width: 20px;
    height: 20px;
  } */

  .add-student-content {
    overflow: visible;
  }
  
