{
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.bg-success,
.btn-success {
    background-color: #309986 !important;
}
.launch-exam {
    float:left;
}
.text-success {
    color: #309986 !important;
}
.fw-bold{
    font-weight: 550 !important;
}
.fw-bolder{
    font-weight: 650 !important;
}

body{
    background-color: #F5F5F5;
}
.create-exam-content{
    width: 500px !important;
}

.true{
    background-color: #309986;
}
.false{
    background-color: red;
}


@keyframes fadeIn {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

.fadeIn{
    animation: fadeIn 1s;
}

.card{
    transition: 0.3s ease-in;
}
.card:hover{
    transform: scale(1.07);
}
.card[data-custom-type="result_good"]:hover{
    background-color: rgba(48, 153, 134, 0.2) !important;
}
.card[data-custom-type="result_bad"]:hover{
    background-color: rgba(255, 0, 0, 0.2) !important;
}
.student_guest{
    float: right;
}

input[type="radio"]{
    display:none;
}
label{
    cursor: pointer;
    /*position:relative;*/
   border:2px solid #309986;
    border-radius:5px;
    padding: 5px 10px;
    display: flex;
    align-items:center; 
}

label:before{
    content: "";
    /*height: 8px;*/
    width:200px;
    border-radius:50%;
    /*margin-right: 20px;*/
}
input[type="radio"]:checked+label{
    background-color:  #309986;
    color:white;
}
/*input[type="radio"]:checked+label:before{  
    /*radio button ပုံစံတူ circle*/
    /*height: 1.25em;
    width:1.25em;
    border-radius: 50%;
    border: 4px solid white;
    margin-right: 10px;
    background-color:#d3c312;
}*/


/*input[name="student-guest"] {
    appearance: none;
  -webkit-appearance: none;
  border-radius: 50%;
  background: #d50f0f;
  border: 3px solid #FFF;
  outline: 1px solid #999;} 

  /* 
  appearance: none;
    -webkit-appearance: none;
    accent-color: #309986;
    border-radius: 50%;
  background: #309986;
  border: 3px solid #FFF;
  box-shadow: 0 0 0 1px #9aebdc; */

 .dialog-sure-launch{
    display:flex;
  position: absolute;  
  vertical-align: middle;
  text-align: center;
align-items: center;
justify-content: center;
  margin: 0 auto ; 
 height: 160px;
     width:auto; 
     top:50%;
     left:45%;
      padding: 20px 30px; 
     background-color: white;
border-radius: 5px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

}  

