/* {
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
} */


.bg-success,
.btn-success {
    background-color: #309986 !important;
}
 .launch-exam  {
       float:left;
    }
.text-success {
    color: #309986 !important;
}
.text-success:hover {
    color: #ffffff !important;
}
.fw-bold{
    font-weight: 550 !important;
}
.fw-bolder{
    font-weight: 650 !important;
}

body{
    background-color: #F5F5F5;
}
.create-exam-content{
    width: 500px !important;
}

.true{
    background-color: #309986;
}
.false{
    background-color: red;
}


@keyframes fadeIn {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

.fadeIn{
    animation: fadeIn 1s;
}

.card{
    transition: 0.3s ease-in;
}
.card:hover{
    transform: scale(1.07);
}
.card[data-custom-type="result_good"]:hover{
    background-color: rgba(48, 153, 134, 0.2) !important;
}
.card[data-custom-type="result_bad"]:hover{
    background-color: rgba(255, 0, 0, 0.2) !important;
}
 .student_guest {
 float: right;}
 input[type="radio"]{
 display:none;
 }

 .form-check-inline label {
   cursor: pointer;
    border:2px solid #309986;
      border-radius:10px; 
      padding: 5px;
    display: flex;
    justify-content: center;
      align-items:center;   
   } 
   
   .form-check-inline label:before {
        content: ""; 
        border-radius:50%;
        background-color: #309986;
        align-items:center;
    } 
    
    
    input[type="radio"]:checked+label  {

      background-color:  #309986;
     color:white;
 }



.dialog-sure-launch {
display:flex;
position: absolute;  
vertical-align: middle;
text-align: center;
 align-items: center;
 justify-content: center;
margin: 0 auto ; 
height: 160px;
 width:auto; 
    top:50%;
    left:40%;
    right:40%;
     padding: 20px 30px; 
 background-color: white;
  border-radius: 5px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);}  

   /* ### New addition ### */

   *{
    padding: 0;
    margin:  0;
    box-sizing: border-box;
}

a{
    text-decoration: none !important;
}

/* all */
section.card-container,button{
    font-size: 14px !important;
}
.text-primary{
    color: #198754 !important;
}
.bg-primary{
    background-color: #198754 !important;
}
.btn-outline-primary{
    border: 1px solid #198754;
    background-color: white;
    color: #198754;
    transition: 0.3s ease-in-out;
}
.btn-outline-primary:hover{
    background-color: #198754;
    color: white;
}
i{
    color: #198754;
    font-size: 20px;
}
.col-12.col-lg-6.col-xl-4{
    padding: 10px;
}
.card{
    transition: 0.3s ease-in-out;
}
.card:hover{
    transform: scale(1.01);
    background-color: #D6EBE7;
}
/* header in card  */
a.clc-icon{
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
}
i.fa-x{
    color: #fff !important;
    font-size: 15px !important;
}

/* group-3 in card  */
.description{
    border: 1px solid rgba(83, 83, 83,0.2);
    max-height: 100px;
    overflow-y: auto;
}

/* .dialog-sure-launch_M0006 {
display:flex;
position: absolute;  
vertical-align: middle;
text-align: center;
 align-items: center;
  justify-content: center;
margin: 0 auto ; 
height: 160px;
    width:auto; 
    top:50%;
    left:40%;
    right:40%;
    padding: 20px 30px; 
 background-color: white;
 border-radius: 5px;
 box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}  
.dialog-sure-launch_M0007 {
display:flex;
position: absolute;  
vertical-align: middle;
text-align: center;
 align-items: center; 
justify-content: center; 
margin: 0 auto ; 
height: 160px;
 width:auto; 
 top:50%;
  left:40%;
 right:40%;
     padding: 20px 30px; 
 background-color: white;
 border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}   */