 .container-custom{
    max-width: 720px;
    padding-right: 16px;
    padding-left: 16px;
    margin-right: auto;
    margin-left: auto;
}
.profile_img{
    max-width:150px;
    max-height:200px;
    border:1px solid grey;
    border-radius:5px;
    }
