body {
    background-color: #efefef;
}

img {
    height: 250px;
    width: 300px;
}

.searchStyle {
    padding-left: 40%;
    margin-bottom: 100px;
}

.filterStyle {
    padding-left: 3%;
}

.filterPart {
    margin-top: 30px;
}


.errorMsg {
    text-align: right;
    color: red;
}
.result {
    margin-left: 55%;
}


.courseInfo {
    padding: 0;
    margin-bottom: 15px;
    
}

.courseInfoText {
    padding-left: 3%;
}

.courseInfoPrice {
    background-color: #DAE8EF;
}

.centerText {
    text-align: center;
    vertical-align: middle;
    margin-top: 50%;
}

.page {
    display: flex;
    justify-content: center;
}

/*Student View*/
.content {
    padding-left: 20%;
    padding-right: 20%;
}

.uploadBtn {
    display: flex;
    justify-content: right;
    margin-bottom: 30px;
}


.mylabel {
    text-align: center;
}

.applyBtn {
    margin-left: 30px;
}

