.container-custom {
    max-width: 720px;
    padding-right: 16px;
    padding-left: 16px;
    margin-right: auto;
    margin-left: auto;
  }
  .profile_img {
    max-width: 150px;
    max-height: 200px;
    border: 1px solid grey;
    border-radius: 5px;
  }
  
  .profile-pic-wrapper {
   
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .pic-holder {
    text-align: center;
    position: relative;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .pic-holder .pic {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
  }
  
  .pic-holder .upload-file-block,
  .pic-holder .upload-loader {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(90, 92, 105, 0.7);
    color: #f8f9fc;
    font-size: 12px;
    font-weight: 600;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
  }
  
  .pic-holder .upload-file-block {
    cursor: pointer;
  }
  
  .pic-holder:hover .upload-file-block {
    opacity: 1;
  }
  
  .pic-holder.uploadInProgress .upload-file-block {
    display: none;
  }
  
  .pic-holder.uploadInProgress .upload-loader {
    opacity: 1;
  }
  
  /* Snackbar css */
  .snackbar {
    visibility: hidden;
    min-width: 250px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 14px;
    transform: translateX(-50%);
  }
  
  .snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {
      bottom: 0;
      opacity: 0;
    }
    to {
      bottom: 30px;
      opacity: 1;
    }
  }
  
  @keyframes fadein {
    from {
      bottom: 0;
      opacity: 0;
    }
    to {
      bottom: 30px;
      opacity: 1;
    }
  }
  
  @-webkit-keyframes fadeout {
    from {
      bottom: 30px;
      opacity: 1;
    }
    to {
      bottom: 0;
      opacity: 0;
    }
  }
  
  @keyframes fadeout {
    from {
      bottom: 30px;
      opacity: 1;
    }
    to {
      bottom: 0;
      opacity: 0;
    }
  }
  .btn-squared-default
    {
        width: 100px !important;
        height: 100px !important;
        font-size: 12px;
        background-color: #5eba7d;
    }

        .btn-squared-default:hover
        {
            border: 3px solid white;
            font-weight: 800;
        }

    .btn-squared-default-plain
    {
        width: 110px !important;
        height: 110px !important;
        font-size: 12px;
    }

        .btn-squared-default-plain:hover
        {
            border: 0px solid white;
        }

        .timeline {
          border-left: 3px solid #727cf5;
          border-bottom-right-radius: 4px;
          border-top-right-radius: 4px;
          background: rgba(114, 124, 245, 0.09);
          margin: 0 auto;
          letter-spacing: 0.2px;
          position: relative;
          line-height: 1.4em;
          font-size: 1.03em;
          padding: 50px;
          list-style: none;
          text-align: left;
          max-width: 40%;
      }
      
      @media (max-width: 767px) {
          .timeline {
              max-width: 98%;
              padding: 25px;
          }
      }
      
      .timeline h1 {
          font-weight: 300;
          font-size: 1.4em;
      }
      
      .timeline h2,
      .timeline h3 {
          font-weight: 600;
          font-size: 1rem;
          margin-bottom: 10px;
      }
      
      .timeline .event {
          border-bottom: 1px dashed #e8ebf1;
          padding-bottom: 10px;
          margin-bottom: 10px;
          position: relative;
      }
      
      @media (max-width: 767px) {
          .timeline .event {
              padding-top: 30px;
          }
      }
      
      .timeline .event:last-of-type {
          padding-bottom: 0;
          margin-bottom: 0;
          border: none;
      }
      
      .timeline .event:before,
      .timeline .event:after {
          position: absolute;
          display: block;
          top: 0;
      }
      
      .timeline .event:before {
          left: -207px;
          content: attr(data-date);
          text-align: right;
          font-weight: 100;
          font-size: 0.9em;
          min-width: 120px;
      }
      
      @media (max-width: 767px) {
          .timeline .event:before {
              left: 0px;
              text-align: left;
          }
      }
      
      .timeline .event:after {
          -webkit-box-shadow: 0 0 0 3px #727cf5;
          box-shadow: 0 0 0 3px #727cf5;
          left: -55.8px;
          background: #fff;
          border-radius: 50%;
          height: 9px;
          width: 9px;
          content: "";
          top: 5px;
      }
      
      @media (max-width: 767px) {
          .timeline .event:after {
              left: -31.8px;
          }
      }
      
      .rtl .timeline {
          border-left: 0;
          text-align: right;
          border-bottom-right-radius: 0;
          border-top-right-radius: 0;
          border-bottom-left-radius: 4px;
          border-top-left-radius: 4px;
          border-right: 3px solid #727cf5;
      }
      
      .rtl .timeline .event::before {
          left: 0;
          right: -170px;
      }
      
      .rtl .timeline .event::after {
          left: 0;
          right: -55.8px;
      }


      .container1{
        position: relative;
    }

    @media screen and (min-width: 450px) {
      .container1{
          width: 105%;
      }
  }
    
    .breadcrums{
        background: var(--grey);
        position: absolute;
        top: 100px;
        left: 0px;
        
    } 
    
    /* .container2{
        position: absolute;
        top: 190px;
        left: 50%;
    
        transform: translateX(-50%);
    } */

    .container3{
      max-width: 800px;
      
      transform: translate(5%) translateY(25%);
    }


    .cardboxs{
      width: 200%;
      background:  var(--cardbox);
      border-radius: 5px;
      box-shadow: 5px 10px 20px rgba(0,0,0,0.5);
  }

  @media screen and (min-width: 450px) {
    .cardboxs{
        width: 100%;
    }
}

  .titles{
    font-size: 22px;
    text-shadow:-2px -2px 2px var(--btnshadow);
	color: var(--btnborder);
	
}

.form-label{
  color: var(--btnborder);
  font-weight: 700;
}

.labels{
  color: var(--btnborder);
  font-weight: 700;
}

.saves{
  color: var(--btnshadow) ;
    background: var(--btnbg);
    border: 2px solid var(--btnborder);
    box-shadow: 2px 2px 3px var(--btnshadow);
}

#btnReg:hover,#btnConfirm:hover{
  color: var(--btnshadow) ;
  background: var(--btnbg);
  border: 2px solid var(--btnborder);
  box-shadow: 2px 2px 3px var(--btnshadow);
}

    .footers{
      max-width: 800%;
      position: absolute;
      top: 80%;
  }
  
  @media screen and (min-height: 450px) {
      .footers{
         transform: translateY(90%);
      }
  
  }
