*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inquiry-form-container{
    display: flex;
    justify-content: center;
    padding: 30px;
    margin-top: 80px;
}
.inquiry-form{
    width: 500px;
}
.text{
    display: block;
    margin-top: 5px;
}
.form-container{
    color: white;
    margin-top: 15px;
    background-color: #0F8173;
    border-radius: 10px;
}
form label{
    display: block;
    margin-bottom: 5px;
}
form input,form textarea, form select{
    padding: 5px 10px;
    border-radius: 5px !important;
    outline: none !important;
    border: none !important;
}
.group{
    padding: 7px 15px;
}
.group:first-child{
    padding-top: 20px;
}
.group:nth-child(6){
    padding-bottom: 20px;
}
.inquiry-form .w-100{
    width: 100%;
}
form .required{
    color: red;
    margin-left: 5px;
}
form textarea{
    resize: vertical;
}
.submit-box{
    text-align: end;
    margin-top: 15px;
}
/* input[type='submit']{
    width: 120px;
    padding: 10px 0px;
    cursor: pointer;
    transition: 0.3s ease;
}
input[type='submit']:hover{
    background-color: rgba(0, 0, 0, 0.8);
} */

@media (max-width:560px) {
    .inquiry-form{
        width: 100% !important;
    }
}

.input-error-msg{
    display: none;
    margin-top: 3px;
    margin-bottom: 0px;
    border-radius: 50px;
    color: red;
    font-weight: bold;
    font-size: 13px;
    background-color: #ffffff80;
    padding-left: 10px;
    padding-right: 10px;
}