.bottom-bar-bg {
  background-color: yellow;
}

.justify {
  text-align: justify;
  text-justify: inter-word;
}

#hiring, #termOfService {
    background-color: #f0f0f0;
}

.img-circle {
  border-radius: 50%;
}