.bottom-bar-bg {
  background-color: yellow;
}

.justify {
  text-align: justify;
  text-justify: inter-word;
}

#hiring,
#termOfService {
  background-color: #f0f0f0;
}

.img-circle {
  border-radius: 50%;
}

/* .carousel .carousel-item {
  height: 100vh;
}

.carousel-item img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  min-height: 100vh;
} */

/* .float {
  position: fixed;
  top: 60px;
  right: 40px;
  color: #fff;
  background-color: #5eba7d;
  text-align: center;
} */

.item {
  width: 20%;
}

.carousel-item{
  height: 90vh;
  min-height: 90vh;
}

.carousel-item::before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000;
  opacity: 0.7;
}

.carousel-caption{
  bottom: 250px;
  padding-left: 100px;
  padding-right: 100px;
}

.carousel-caption h5{
  font-size: 80px;
  font-weight: 500px;
}