 .container-custom{
    max-width: 720px;
    padding-right: 16px;
    padding-left: 16px;
    margin-right: auto;
    margin-left: auto;
    transform: translateY(30%);
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
}
.card-pwd-reset {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #0F8173;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
  }
  .card-header-st0001-css {
    padding: 0.5rem 1rem;
    margin-bottom: 0;
    background-color: #02917F;
    background-clip: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }