<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email List Screen</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/AD0009_AdminEmail.css}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" integrity="sha512-uKQ39gEGiyUJl4AI6L+ekBdGKpGw4xJ55+xyJG7YFlJokPNYegn9KwQ3P8A7aFQAUtUsAQHep+d/lrGqrbPIDQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    




</head>

<body>
    
    <section class="main">

        <!-- messagae box start  -->
        <article class="message-box-container d-none" id="message_box_container">
            <div class="vh-100 position-fixed vw-100 d-flex justify-content-center align-items-center p-3 p-md-0">
                <div class="message-box bg-white px-3 py-4">
                    <div class="text-end mb-2">
                        <i class="fa-solid fa-x" id="message_clc_btn" style="color: #ff0000;cursor: pointer;" onclick="msg_clc_btn()"></i>
                    </div>
                    <div class="info mb-3">
                        <div class="d-flex flex-wrap justify-content-between align-items-end gap-3">
                            <div class="">
                                <div class="fw-bold">From : <span id="name"></span></div>
                                <div class="fw-bold">To : <span>Admin Team</span></div>
                            </div>
                            <div class="">
                                <div class="fw-bold">
                                    Date : <span id="receive_date">Shin Thant Oo</span>
                                </div>
                                <div class="fw-bold">
                                    Type : <span id="detail" style="color: #198754;">Service</span>
                                </div>
                                <div class="fw-bold">Email : <span id="mail">Shinthatnoo@gmail.com</span></div>
                            </div>
                        </div>
                    </div>
                    <div id="description">
                        <p id="text" style="text-indent: 25px;" ></p>
                    </div>
                </div>
            </div>
        </article>
        <!-- messagae box end  -->

        <!-- replay box start  -->
        <article class="reply-box-container d-none" id="reply_box_container">
            <div class="vh-100 position-fixed vw-100 d-flex justify-content-center align-items-center p-3 p-md-0">
                <div class="reply-box bg-white px-3 py-4 rounded-3">
                    <div class="text-end mb-2">
                        <i class="fa-solid fa-x" id="message_clc_btn" style="color: #ff0000;cursor: pointer;" onclick="reply_clc_btn()"></i>
                    </div>
                    <form action="" method="">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label fw-bold">Email</label>
                            <input type="email" class="form-control" id="emailaddress" required readonly>
                          </div>
                          <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label fw-bold">Description <span class="text-danger">*</span></label>
                            <textarea class="form-control" id="emailDescription" rows="3" required></textarea>
                          </div>
                          <div class="text-end">
                            <input type="submit" class="ms-2 border-0 rounded bg-success text-white px-2" value="Send Email"
                            id="sendEmail">
                          </div>
                    </form>
                </div>
                
            </div>
        </article>
        <!-- replay box end  -->

        <div class="container px-3 px-md-0 py-4">

            <!-- search date start  -->
            <article class="d-flex flex-wrap justify-content-start align-items-end gap-3">
                <div class="filter">
                    <label class="fw-bold" for="start_date">Exam From</label><br>
                    <input type="date" class="px-2 py-1 shadow-sm" id="exam_from" required>
                </div>
                <div class="filter">
                    <label class="fw-bold" for="end_date">Exam To</label><br>
                    <input type="date" class="px-2 py-1 shadow-sm" id="exam_to" required>
                </div>
                <div class="filter">
                    <select name="" id="status" class="px-2 py-1 shadow-sm">
                        <option value="all" disabled selected>Search by Reply Status</option>
                        <option value="reply">Replied</option>
                        <option value="not reply">Not Reply</option>
                    </select>
                </div>
                <div class="filter">
                    <select name="details" id="details" class="px-2 py-1 shadow-sm">
                        <option value="">Search by Send Type</option>
                        <option value="Service">Service</option>
                        <option value="Payment">Payment</option>
                        <option value="Want to be Teacher">Want to be Teacher</option>
                        <option value="Want to be Admin">Want to be Admin</option>
                        <option value="Consultation">Consultation</option>
                        <option value="Complain">Complain</option>
                        <option value="Others">Others</option>
                    </select>
                </div>
                
                <input type="reset" class="ms-2 border-0 rounded bg-success text-white px-2" value="Clear Filter"
                    id="clearFilter">

            </article>

            <div style="margin-top: -10px;margin-left: 320px;">
                <small class="bg-success rounded text-white px-2 py-1 fw-bold" style="cursor: pointer" id="search_date_btn">Search
                  Date</small>
              </div>
              <div style="color: red; font-size: 12px; display: none; padding-top: 10px;" id="filter_date_warning">End Date Must
                Be Greater Than Start Date</div>
            <!-- search date end  -->

          

            <!-- card-container start  -->
            <article class="card-container">
                <div class="d-flex flex-wrap justify-content-center justify-content-lg-start align-items-center gap-3 mt-4">
                    <div class="card" th:each="email, index:${emailList}" id="inquiry_message_card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <h6 class="name fw-bold p-0 m-0" th:text="${email.name}"></h6>
                                <span class="detail fw-bold" th:text="${email.details}">Payment</span>
                            </div>
                            <div class="decription mt-2">
                                <h6 class="title p-0 m-0">Description</h6>
                                <p class="text p-0 mb-2" th:text="${email.description.length() > 100 ? email.description.substring(0, 50) : email.description}">
                                </p>
                                <span class="text-primary fw-bold" style="cursor: pointer;" id="see_more"
                                th:onclick="setDataToDialog([[${email}]]);">see more...</span>

                            </div>
                            <div class="address">
                                <div class="mail-box">
                                    <i class="fa-solid fa-at me-1" style="color: #198754;"></i>
                                    <span class="mail" th:text="${email.email}"></span>
                                </div>
                                <div class="phone-no-box">
                                    <i class="fa-solid fa-phone me-1" style="color: #198754;"></i>
                                    <span class="phone-no" th:text="${email.phoneNumber}"></span>
                                </div>
                                <div class="receive-date-box">
                                    <i class="fa-regular fa-calendar me-1" style="color: #198754;"></i>
                                    <span th:text="${#dates.format(email.inquiryDate, 'yyyy-MM-dd')}"></span>

                                </div>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="messge-status fw-bold replied">Replied</span>
                                
                            <div>
                                <small class="bg-success rounded text-white px-2 py-1 fw-bold"
                                 style="cursor: pointer" id="reply_btn"
                                 th:onclick="setReplyDialog([[${email}]]);">Reply</small>
                            </div>

                            </div>
                        </div>
                    </div>
                   
                </div>
            </article>
            <!-- card-container start  -->

        </div>
    </section>

    
</body>
<script>
    let inquiry_message_card = document.querySelectorAll('#see_more');
    let message_box_container = document.querySelector('#message_box_container');
    let reply_box_container = document.querySelector('#reply_box_container');
    let clc_btn = document.querySelector('#message_clc_btn');
    let reply = document.querySelectorAll('#reply_btn');


    document.addEventListener('click',(e)=>{let id = e.target; console.log(id)})
    inquiry_message_card.forEach(card=>{
        card.addEventListener('click',()=>message_box_container.classList.remove('d-none'))
    })

    reply.forEach(reply_msg=>{
        reply_msg.addEventListener('click',()=>reply_box_container.classList.remove('d-none'))
    })

    const msg_clc_btn = () => {
        message_box_container.classList.add('d-none')
    }

    const reply_clc_btn = () => {
        reply_box_container.classList.add('d-none')
    }

    function setDataToDialog(email){

        fetch("/admin/get-email?user_id=" + email, {
            method: "GET",
            headers: {
            "Content-Type": "application/json"
            }

        }).then(response => response.json());

        document.getElementById("name").textContent = email.name;
        var date = new Date(email.inquiryDate);
        var formattedDate = date.toISOString().split('T')[0];
        document.getElementById("receive_date").textContent = formattedDate;
        document.getElementById("detail").textContent = email.details;
        document.getElementById("mail").textContent = email.email;
        document.getElementById("text").textContent = email.description;
       
        
    }
    function setReplyDialog(email){
        fetch("/admin/get-email?user_id=" + email, {
            method: "GET",
            headers: {
            "Content-Type": "application/json"
            }

        }).then(response => response.json());

       
        //document.getElementById("text").textContent = email.description;
        document.getElementById("emailaddress").value = email.email;

    }
    var userId;
    function sendEmail(){

        
        var description = document.getElementById("emailDescription").value;


        var data;

        data = {
            //key : value
            contact_id : userId,
            description : description
        }
        data = JSON.stringify(data);
            fetch("/admin/sendEmail?userId=" + userId, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(data)
                }).then(response => {
                    if (response.status == 200) {
                        
                        window.location.reload();
                    
                        
                }
        });


        
    }
    
    $(document).ready(function () {
      $("#search_date_btn").click(function () {
        var fromDate = document.getElementById("exam_from").value;
        var toDate = document.getElementById("exam_to").value;
        if (fromDate === "" && toDate != null) {
          document.getElementById("filter_date_warning").textContent = "Please choose two date filters";
          document.getElementById("filter_date_warning").style.display = 'block';
        } else if (fromDate != "" && toDate === "") {
          document.getElementById("filter_date_warning").textContent = "Please choose two date filters";
          document.getElementById("filter_date_warning").style.display = 'block';
        } else if (fromDate >= toDate) {
          document.getElementById("filter_date_warning").style.display = 'block';
        } else {
          document.getElementById("filter_date_warning").style.display = 'none';
          window.location.replace("/admin/email?fromDate=" + fromDate + "&toDate=" + toDate);
        }
      });
      $("#details").change(function() {
        window.location.href = "/admin/email?details=" + $("#details :selected").text();
    
      });

      $("#clearFilter").click(function () {
        window.location.href = "/admin/email";
      })

    });



   



   



</script>



</html>