<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exam Questions</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/AT0007_TestQuestions.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{/css/global.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
</head>

<body style="padding-top: 80px;">
    <div th:replace="@{fragments/nav}"></div>
    <section class="main container">
        <div class="d-flex align-items-center justify-content-between flex-wrap">
            <div class="mt-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Exam</a></li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Questions
                        </li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="d-flex justify-content-between align-items-center flex-wrap">
            <div class="">
                <div class="fw-bold text-success" style="display: none;">
                    Test Id: <span class="" id="testId" th:text="${test_id}"></span>
                </div>

                <div class="fw-bold text-success">
                    Student Name: <span class="" th:text="${name}"></span>
                </div>
                <div class="fw-bold text-success">
                    All : <span class="" th:text="${totalTest}"></span> Questions
                </div>
                <div class="fw-bold text-success">
                    Status : <span class="" th:text="${status}"></span>
                </div>
            </div>
            <div class="">
                <div class="fw-bold text-success" style="display: none;">
                    Student Id: <span class="" id="studentId" th:text="${userId}"></span>
                </div>
                <div class="fw-bold text-success">
                    Answered Date : <span class="" th:text="${test_date}"></span>
                </div>
                <div class="fw-bold text-success">
                    Manual Answer : <span class="" th:text="${freeTest}"></span> Questions
                </div>
                <div class="fw-bold text-success">
                    Auto Answer : <span class="" th:text="${choiceTest}"> </span> Questions
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center flex-wrap" style="padding-bottom: 50px;">
            <div class="box">
                <div class="row">
                    <div class="col-12 col-lg-12" th:each="testquestion, index:${questionList}">
                        <div class="col-12 mt-4 question1">
                            <div class="card border-0">
                                <div class="card-body text-dark">
                                    Question No. <small class="fw-bold text-success question-no"
                                        th:text="${index.count}">
                                    </small>
                                    <div class="mb-3"></div>
                                    <div th:if="${testquestion.question_materials_type == 'AUDIO'}">
                                        <audio controls class="w-100">
                                            <source th:src="${testquestion.question_materials}" type="audio/mpeg">
                                        </audio>
                                    </div>
                                    <div th:if="${testquestion.question_materials_type == 'VIDEO'}">
                                        <video width="100%" height="240" controls>
                                            <source th:src="${testquestion.question_materials}" type="video/mp4">
                                        </video>
                                    </div>
                                    <div th:if="${testquestion.question_materials_type == 'IMAGE'}"
                                        style="justify-content: center; align-items: center; display: flex;">
                                        <img th:src="${testquestion.question_materials}" style="width: 100%;">
                                    </div>
                                    <h5 class="">Description</h5>
                                    <p th:text="${testquestion.question_text}"></p>
                                    <div th:if="${testquestion.question_type == 'SINGLE_ANSWER'}">
                                        <div th:each="choice :${testquestion.choices}">
                                            <div class="form-check border rounded py-2 px-5 mt-2 false"
                                                th:style="${choice.correct} ? 'background-color: green' : 'background-color: white'">
                                                <input class="form-check-input" type="checkbox" disabled
                                                    th:checked="${choice.student_choice}" />
                                                <label class="form-check-label" th:text="${choice.choice}">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div th:if="${testquestion.question_type == 'MULTIPLE_ANSWER'}">
                                        <div th:each="choice :${testquestion.choices}">
                                            <div class="form-check border rounded py-2 px-5 mt-2 false"
                                                th:style="${choice.correct} ? 'background-color: green' : 'background-color: white'">
                                                <input class="form-check-input" type="checkbox" disabled
                                                    th:checked="${choice.student_choice}" />
                                                <label class="form-check-label" th:text="${choice.choice}">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div th:if="${testquestion.question_type == 'FREE_ANSWER'}">
                                        <div class="mb-3">
                                            <label for="q2_textarea" class="form-label text-success">
                                                <h6 class="">Answer as Text</h6>
                                            </label>
                                            <textarea class="form-control"
                                                th:placeholder="${testquestion.student_answer}" rows="3"
                                                disabled></textarea>
                                        </div>
                                        <h6 class="text-muted text-center mb-3">OR</h6>
                                        <div class="mb-3">
                                            <label class="form-label text-success">
                                                <h6 class="">Answer as Image</h6>
                                            </label>
                                            <img th:src="${testquestion.student_answer_link}" style="width: 100%;" />
                                        </div>
                                    </div>
                                    <div class="mt-3">
                                        <div class="text-end mb-2">
                                            <small class="fw-bold">Maximum Mark : <span
                                                    th:text="${testquestion.maximum_mark}"> </span> Marks</small>
                                        </div>
                                        <div th:if="${testquestion.question_type != 'FREE_ANSWER'}">
                                            <div class="text-end mb-2">
                                                <small class="fw-bold">Acquired Mark : <span
                                                        th:text="${testquestion.acquired_mark}"> </span> Marks</small>
                                            </div>
                                        </div>
                                        <div th:if="${testquestion.question_type == 'FREE_ANSWER'}">
                                            <div th:if="${testquestion.question_type == 'FREE_ANSWER'}">
                                                <div th:if="${testquestion.question_type == 'FREE_ANSWER'}">
                                                    <input class="form-control" type="text"
                                                        th:placeholder="${testquestion.acquired_mark}"
                                                        th:id="'acquired_mark_' + ${testquestion.id}">
                                                    <span th:id="'warning_' + ${testquestion.id}"
                                                        style="color: red; display: none;">Please fill Acquired Mark.Not
                                                        greater than maximum marks</span>
                                                    <div class="text-end mt-2">
                                                        <input type="submit" value="Set as Marked"
                                                            class="btn-success border-0 rounded px-2"
                                                            th:onclick="setasmarked([[${testquestion}]]);" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <!-- <div class="submit-btn-container mt-1" style="padding-bottom: 50px;">
        <div class="d-flex justify-content-end mx-auto" style="min-width: 400px;max-width: 750px;">
            <input type="submit" id="submit" value="Submit" class="bg-success text-white border-0 rounded px-2">
        </div>
    </div> -->
    <div class="comment-container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form>
                    <div class="form-group">
                        <label for="comment">Comment:</label>
                        <textarea th:placeholder="${comment}" class="form-control" id="comment" rows="3"
                            placeholder="Enter your comment"></textarea>
                    </div>
                    <input type="submit" id="submit" value="Submit" class="btn-success border-0 rounded px-2"
                        th:onclick="setascomment();" />
                </form>
            </div>
        </div>
    </div>

    <div th:replace="@{fragments/footer}"></div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <script th:inline="javascript">
        var questionList = /*[[${questionList}]]*/ "default";
        var test_id = /*[[${test_id}]]*/ "test_id";

        function setasmarked(test_question) {
            console.log(test_question);
            let formData = new FormData();
            var warning_message = document.getElementById("warning_" + test_question.id);
            var acquired_mark = document.getElementById("acquired_mark_" + test_question.id);
            if (isNaN(acquired_mark.value)) {
                warning_message.style.display = "block";
                return;
            }
            if (acquired_mark.value == "") {
                warning_message.style.display = "block";
                return;
            }
            if (acquired_mark.value > test_question.maximum_mark) {
                warning_message.style.display = "block";
                return;
            }
            formData.append('id', parseInt(test_question.student_answer_id));
            formData.append('acquired_mark', parseInt(acquired_mark.value));
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "https://pyinnyarsubuu.com/admin/mark-student-question", true);
            xhr.onload = () => {
                alert("Marked Successfully.");
                warning_message.style.display = "none";
                acquired_mark.placeholder = acquired_mark.value;
            }
            xhr.send(formData);
        }


        /*function setascomment(){
            let formData = new FormData();
            var comment = document.getElementById("comment");

            
            formData.append('comment',comment.value);
            var xhr = new XMLHttpRequest();
            xhr.open("POST","http://localhost:8080/admin/comment",true);
            xhr.send(formData);



        }*/

        var type = "Created";

        $("#submit").click(function () {
            submitData(type);
        })

        function submitData(submitType) {
            var testId = document.getElementById("testId").textContent;
            var studentId = document.getElementById("studentId").textContent;
            var comment = document.getElementById("comment").value;

            var data;

            if (submitType == "Created") {
                data = {
                    test_Id: testId,
                    student_Id: studentId,
                    comment: comment

                }
                data = JSON.stringify(data);
                fetch("/admin/comment", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: data
                }).then(response => {
                    if (response.status == 200) {
                        window.location.reload();


                    }
                })
            }


        }
        function setascomment() {
            var comment = document.getElementById("comment").value;
            if (comment.trim() !== "") {
                alert("Data submit is success");
            } else {
                alert("Please fill comment");
            }
        }

    </script>
</body>

</html>
