<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exam Questions</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/AT0007_TestQuestions.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{/css/global.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
</head>

<body style="padding-top: 80px;">
    <div th:replace="@{fragments/nav}"></div>
    <!-- create exam start  -->
    <div class="create-exam-container min-vh-100 w-100 position-fixed top-0 d-flex justify-content-center align-items-center fadeIn d-none"
        style="background-color: rgba(0, 0, 0, 0.4); z-index: 1000">
        <div class="create-exam-content rounded shadow bg-white">
            <div class="d-flex justify-content-end p-2">
                <div class="d-flex justify-content-center align-items-center bg-danger text-white rounded-circle"
                    style="width: 25px; height: 25px; cursor: pointer" id="cancel_btn">
                    <i class="fa-solid fa-xmark"></i>
                </div>
            </div>
            <div class="px-3 pb-3">
                <form action="">
                    <div class="input-group-sm mb-2 shadow-sm">
                        <label for="description" class="form-label fw-bold mb-1"><small>Description <span
                                    class="text-danger">*</span></small></label>
                        <textarea class="form-control" id="description" rows="3"
                            placeholder="Add description about exam" required></textarea>
                    </div>
                    <div class="input-group-sm mb-2 shadow-sm">
                        <label for="question_upload_box" class="form-label fw-bold mb-1"><small>Question Video, Image or
                                Audio Upload Box</small></label>
                        <input type="file" class="form-control" id="question_upload_box" required />
                    </div>
                    <div class="input-group-sm mb-2 shadow-sm">
                        <label for="answer_Type" class="form-label fw-bold mb-1"><small>Answer Type <span
                                    class="text-danger">*</span></small></label>
                        <select class="form-select" aria-label="Default select example" id="answer_Type" required>
                            <option value="1" selected>
                                Multiple Choice Single Answer
                            </option>
                            <option value="2">Multiple Choice Multiple Answer</option>
                            <option value="3">Free Answer</option>
                        </select>
                    </div>

                    <!-- answer type start  -->
                    <label for="manage_answer" class="form-label fw-bold mb-1"><small>Manage Answer <span
                                class="text-danger">*</span></small></label>
                    <div class="input-group-sm mb-2 fadeIn" id="single_answer">
                        <div class="" id="single_answer_choice">
                            <div class="row align-items-center mt-2 shadow-sm">
                                <div class="col-11">
                                    <input type="text" class="form-control" placeholder="option 1" id="text_option1"
                                        required />
                                </div>
                                <div class="col-1 px-1">
                                    <div class="form-check">
                                        <input class="form-check-input" required type="radio" name="flexRadioDefault"
                                            id="radio_option1" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="btn btn-sm btn-success mt-3" id="single_add_option">
                            <small>+ Add Option</small>
                        </div>
                    </div>


                    <div class="input-group-sm mb-2 d-none fadeIn" id="multiple_answer">
                        <div class="" id="multiple_answer_choice">
                            <div class="row align-items-center mt-2 shadow-sm">
                                <div class="col-11">
                                    <input type="text" class="form-control" placeholder="option 1" id="option 1"
                                        required />
                                </div>
                                <div class="col-1 px-1">
                                    <div class="form-check">
                                        <input class="form-check-input" required type="checkBox" name="flexCheckDefault"
                                            id="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="input-group-sm mt-3 fadeIn d-none" id="multiple_add_optionbox">
                            <div class="d-flex align-items-center">
                                <input type="text" class="form-control" placeholder="Add New Option"
                                    id="multiple_add_text" />
                                <div class="btn btn-outline-dark" id="multiple_add_new">
                                    <small>Add</small>
                                </div>
                            </div>
                        </div>
                        <div class="btn btn-sm btn-success mt-2" id="multiple_add_option">
                            <small>+ Add Option</small>
                        </div>
                    </div>
                    <!-- answer type end  -->

                    <div class="input-group-sm mb-3 shadow-sm">
                        <label for="passing_score" class="form-label fw-bold mb-1"><small>Maximum Marks <span
                                    class="text-danger">*</span></small></label>
                        <input type="text" class="form-control" id="passing_score"
                            placeholder="Enter minimum passing score" required />
                    </div>
                    <div class="input-group-sm text-end">
                        <input type="submit" class="form-control btn btn-sm btn-success" id="submit"
                            style="width: 100px" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- create exam end  -->

    <section class="main container">
        <div class="d-flex align-items-center justify-content-between flex-wrap">
            <div class="mt-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Exam</a></li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Questions
                        </li>
                    </ol>
                </nav>
            </div>
            <div class="mt-3">
                <small class="text-success fw-bold"><span th:text="${#lists.size(questionList)}"></span>
                    Questions</small>
            </div>
        </div>
        <div class="text-md-end mt-2">
            <div class="btn btn-sm btn-success rounded border-0" id="create_question">
                Create Question
            </div>
        </div>

        <div class="d-flex justify-content-center align-items-center flex-wrap" style="padding-bottom: 50px;">
            <div class="box">
                <div class="row">
                    <div class="col-12 col-lg-12" th:each="testquestion, index:${questionList}">
                        <div class="col-12 mt-4 question1">
                            <div class="card border-0">
                                <div class="d-flex justify-content-end align-items-center p-2">
                                    <i class="fa-solid fa-pen-to-square text-success" style="cursor: pointer"></i>
                                    <div class="d-flex justify-content-center align-items-center bg-danger text-white rounded-circle ms-2"
                                        style="width: 20px; height: 20px; cursor: pointer" id="">
                                        <i class="fa-solid fa-xmark"></i>
                                    </div>
                                </div>
                                <div class="card-body text-dark">
                                    Question No. <small class="fw-bold text-success question-no"
                                        th:text="${index.count}">
                                    </small>
                                    <div class="mb-3"></div>
                                    <div th:if="${testquestion.question_materials_type == 'AUDIO'}">
                                        <audio controls class="w-100">
                                            <source th:src="${testquestion.question_materials}" type="audio/mpeg">
                                        </audio>
                                    </div>
                                    <div th:if="${testquestion.question_materials_type == 'VIDEO'}">
                                        <video width="100%" height="240" controls>
                                            <source th:src="${testquestion.question_materials}" type="video/mp4">
                                        </video>
                                    </div>
                                    <div th:if="${testquestion.question_materials_type == 'IMAGE'}"
                                        style="justify-content: center; align-items: center; display: flex;">
                                        <img th:src="${testquestion.question_materials}">
                                    </div>
                                    <h5 class="">Description</h5>
                                    <p th:text="${testquestion.question_text}"></p>
                                    <div th:each="choice, choiceindex : ${testquestion.choices}">
                                        <div class="form-check border rounded py-2 px-5 mt-2"
                                            th:style="${choice.correct == true ? 'background-color: green' : 'background-color: white'}">
                                            <label class="form-check-label" th:text="${choice.choice}"
                                                th:style="${choice.correct == true ? 'color: white' : 'color: black'}"></label>
                                        </div>
                                    </div>
                                    <div class="mt-3">
                                        <form action="" class="">
                                            <div class="text-end mb-2">
                                                <small class="fw-bold">Maximum Mark : <span
                                                        th:text="${testquestion.maximum_mark}"> </span> Marks</small>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div th:replace="@{fragments/footer}"></div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <script>
        let createExamContainer = document.querySelector('.create-exam-container');
        cancelBtn = document.querySelector('#cancel_btn');
        createExam = document.querySelector('#create_question');

        cancelBtn.addEventListener('click', () => createExamContainer.classList.add('d-none'));
        createExam.addEventListener('click', () => createExamContainer.classList.remove('d-none'));

        let answerType = document.querySelector('#answer_Type');
        singleAnswer = document.querySelector('#single_answer');
        multipleAnswer = document.querySelector('#multiple_answer');
        singleAddOption = document.querySelector('#single_add_option');
        multipleAddOption = document.querySelector('#multiple_add_option');
        singleAddOptionBox = document.querySelector('#single_add_optionbox');
        multipleAddOptionBox = document.querySelector('#multiple_add_optionbox');
        singleAddNew = document.querySelector('#single_add_new');
        multipleAddNew = document.querySelector('#multiple_add_new');
        singleAnswerChoice = document.querySelector('#single_answer_choice');
        multipleAnswerChoice = document.querySelector('#multiple_answer_choice');
        singleAddText = document.querySelector('#single_add_text');
        multipleAddText = document.querySelector('#multiple_add_text');

        answerType.addEventListener('change', () => {
            if (answerType.value == '1') {
                singleAnswer.classList.remove('d-none')
                multipleAnswer.classList.add('d-none')
            } else if (answerType.value == '2') {
                singleAnswer.classList.add('d-none')
                multipleAnswer.classList.remove('d-none')
            } else if (answerType.value == '3') {
                singleAnswer.classList.add('d-none')
                multipleAnswer.classList.add('d-none')
            }
        })

        var singleCount = 2;
        singleAnswerContainer = document.getElementById("single_answer_choice");
        singleAddOption.addEventListener('click', () => {
            const radios = document.querySelectorAll('input[name="flexRadioDefault"]');
            singleAnswerContainer.innerHTML += '<div class="row align-items-center mt-2 shadow-sm">' +
                '<div class="col-11">' +
                '<input type="text" class="form-control" placeholder="option ' + singleCount + '" id="text_option_' + singleCount + '"' +
                'required />' +
                '</div>' +
                '<div class="col-1 px-1">' +
                '<div class="form-check">' +
                '<input class="form-check-input" required type="radio" name="flexRadioDefault"' +
                'id="radio_option_' + singleCount + '" />' +
                '</div>' +
                '</div>' +
                '</div>';
            singleCount++;
        })
    </script>
</body>

</html>