<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Students List</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.css">
    <link rel="stylesheet" th:href="@{/css/AT0005_TestStudentList.css}" />
    <link rel="stylesheet" th:href="@{/css/AT0005_TestGuestList.css}" />
    <link rel="stylesheet" th:href="@{/css/global.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.js"></script>
</head>

<body>
    <div th:replace="@{fragments/nav}"></div>
    <!-- add student modal box start  -->
    <div class="add-student-box min-vh-100 position-fixed w-100 top-0 d-flex justify-content-center align-items-center d-none"
        style="z-index: 1000;background: rgba(0,0,0,0.4); max-height: 500px; overflow-y: auto;">
        <div class="add-student-content px-2 py-3 rounded shadow-sm bg-white" style="height: 700px;">
            <div class="d-flex justify-content-end">
                <div class="bg-danger text-white rounded-circle d-flex justify-content-center align-items-center"
                    style="width: 30px;height: 30px;cursor: pointer;" id="add_student_cancel">
                    <i class="fa-solid fa-xmark"></i>
                </div>
            </div>
            <div class="bg-white d-flex align-items-center px-2 mt-3" id="add_student_search_box">
                <i class="fa-solid fa-magnifying-glass me-1" id="add_student_search_icon"></i>
                <input type="search" class="px-2 py-1 border-0 w-100" placeholder="Enter StudentName"
                    id="add_student_search">
            </div>
            <div style="height: 90%; overflow: auto;">
                <div id="student_list">

                </div>
            </div>
        </div>
    </div>
    <!-- add student modal box end -->
    <section class="main container mt-3" th:if="${test_guests == null}" style="padding-top: 80px;">
        <div class="d-flex flex-wrap align-items-center justify-content-between">
            <div class="mt-2">

            </div>
            <div class="text-center" th:if="${exam_status == 'Marking' or exam_status == 'Result Released'}">
                <p style="color: red;"><strong>Add Examinees are only allowed in 'Exam Created' or 'Question Created'
                        exam status.</strong></p>
            </div>
            <div class="">
                <div class="btn btn-success btn-sm mt-2 mx-2" id="add_enrolled_student"
                    th:if="${exam_status != 'Marking' and exam_status != 'Result Released'}">
                    Add All Enrolled Students
                </div>
                <div class="btn btn-success btn-sm mt-2" id="add_student"
                    th:if="${exam_status != 'Marking' and exam_status != 'Result Released'}">
                    Add Custom Students
                </div>
            </div>
        </div>

        <div class="d-flex flex-wrap align-items-center justify-content-between mt-3">
            <div class="">
                <small class="fw-bold text-success me-3"><span class="" th:text="${total_students}"></span> Students
                    Found</small>
                <small class="fw-bold text-success"><span th:text="${check_students}"></span>/<span
                        th:text="${total_students}"></span> Checked</small>
            </div>
            <div class="bg-white d-flex align-items-center px-2 mt-3" id="student_search_box">
                <i class="fa-solid fa-magnifying-glass me-1" id="student_search_icon"></i>
                <input type="search" class="px-2 py-1 border-0 w-100" placeholder="Enter StudentName"
                    id="search_student">
            </div>
        </div>

        <div class="d-flex flex-wrap align-items-center justify-content-end mt-3">
            <a href="?" style="padding-right: 10px; padding-top: 5px;">Clear</a>
            <div class="btn btn-success btn-sm mt-2" id="search_examinee">Search</div>
        </div>

        <!-- student result start  -->
        <section class="my-3">
            <div class="d-flex flex-wrap align-items-center justify-content-start">
                <div class="col-12 col-md-6 col-lg-4 card-container mx-0 px-0 px-md-1 mt-3 student-item"
                    th:each="test_examinee : ${test_examinees}">
                    <div class="card border-0 shadow-sm">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-start">
                                <img th:src="@{/images/profile.png}" alt="" class="img-fluid rounded-circle"
                                    style="width: 50px; height: 50px" />

                                <!-- delete button for student examinee -->
                                <form
                                    th:action="@{'/delete-teststudent/' + ${test_id} + '/' + ${test_examinee.userInfo.uid} + '/' + ${user_role}}"
                                    th:if="${exam_target == null}" method="POST" class="deleteForm">
                                    <button type="submit" onclick="showConfirmation(event)"
                                        class="rounded-circle bg-danger text-white d-flex justify-content-center align-items-center fw-bold"
                                        style="cursor: pointer; width: 25px; height: 25px">
                                        <i class="fa-solid fa-xmark"></i>
                                    </button>
                                </form>

                                <!-- delete button for guest examinee -->
                                <form
                                    th:action="@{'/delete-teststudent/' + ${test_id} + '/' + ${test_examinee.guestUserInfo.guest_id} + '/' + ${user_role}}"
                                    th:if="${exam_target == 1}" method="POST" class="deleteForm">
                                    <button type="submit" onclick="showConfirmation(event)"
                                        class="rounded-circle bg-danger text-white d-flex justify-content-center align-items-center fw-bold"
                                        style="cursor: pointer; width: 25px; height: 25px">
                                        <i class="fa-solid fa-xmark"></i>
                                    </button>
                                </form>
                            </div>
                            <script>
                                function showConfirmation(event) {
                                    event.preventDefault(); // Prevent the form from submitting

                                    Swal.fire({
                                        title: 'Are you sure?',
                                        text: "You are about to delete the test student. This action cannot be undone!",
                                        icon: 'warning',
                                        showCancelButton: true,
                                        confirmButtonColor: '#d33',
                                        cancelButtonColor: '#3085d6',
                                        confirmButtonText: 'Yes, delete it!'
                                    }).then((result) => {
                                        if (result.isConfirmed) {

                                            event.target.closest('.deleteForm').submit();
                                        }
                                    });
                                }
                            </script>

                            <div class="mt-3">
                                <small class="fw-bold name">
                                    <span th:if="${exam_target == 1}"
                                        th:text="${test_examinee.guestUserInfo.name}"></span>
                                    <span th:if="${exam_target == null}"
                                        th:text="${test_examinee.userInfo.userName}"></span>
                                </small><br />
                                <small class="fw-bold ph-no">
                                    <span th:if="${exam_target == 1}"
                                        th:text="${test_examinee.guestUserInfo.phone_no}"></span>
                                    <span th:if="${exam_target == null}"
                                        th:text="${test_examinee.userInfo.phoneNo}"></span>
                                </small><br />
                                <small class="fw-bold mail">
                                    <span th:if="${exam_target == 1}"
                                        th:text="${test_examinee.guestUserInfo.mail}"></span>
                                    <span th:if="${exam_target == null}"
                                        th:text="${test_examinee.userInfo.userAccount.mail}"></span>
                                </small><br />
                                <small class="fw-bold text-muted">Checked Questions (
                                    <span th:text="${test_examinee.total_unmark_answer}"></span> /
                                    <span th:text="${test_examinee.total_free_answer}"></span>
                                    )</small>
                                <div class="text-end mt-2">
                                    <!-- go to answers link for student examinee -->
                                    <small class="fw-bold" th:if="${exam_target == null}">
                                        <a class="adminLink text-success text-decoration-underline"
                                            th:href="'/admin/exam/' + ${test_examinee.test.test_id} + '/student/'+ ${test_examinee.userInfo.uid}">
                                            Go To Answers
                                        </a>
                                        <a class="teacherLink text-success text-decoration-underline"
                                            th:href="'/teacher/exam/' + ${test_examinee.test.test_id} + '/student/'+ ${test_examinee.userInfo.uid}">
                                            Go To Answers
                                        </a>
                                    </small>

                                    <!-- go to answers link for guest examinee -->
                                    <small class="fw-bold" th:if="${exam_target == 1}">
                                        <a class="adminLink text-success text-decoration-underline"
                                            th:href="'/admin/exam/' + ${test_examinee.test.test_id} + '/student/'+ ${test_examinee.guestUserInfo.guest_id}">
                                            Go To Answers
                                        </a>
                                    </small>
                                </div>
                            </div>

                            <script>
                                var userRole = "[[${user_role}]]";
                                var adminLinks = document.getElementsByClassName("adminLink");
                                var teacherLinks = document.getElementsByClassName("teacherLink");

                                if (userRole === "SUPER_ADMIN" || userRole === "ADMIN") {
                                    Array.from(teacherLinks).forEach(function (link) {
                                        link.style.display = "none";
                                    });
                                } else if (userRole === "TEACHER") {
                                    Array.from(adminLinks).forEach(function (link) {
                                        link.style.display = "none";
                                    });
                                }
                            </script>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- student result end  -->
    </section>
    <section th:if="${test_guests != null}">
        <div class="add_single_guest_box min-vh-100 position-fixed w-100 top-0 d-flex justify-content-center align-items-center d-none"
            style="z-index: 1000;background: rgba(0,0,0,0.4); max-height: 500px; overflow-y: auto;">
            <div class="add-guest-content px-2 py-3 rounded shadow-sm bg-white" style="height: auto;">
                <form class="px-3 pb-2 pt-2" id="single_guest_submit_form">
                    <div style="color: red; font-size: 12px; display: none;" id="email_verification_warning"></div>
                    <div class="d-flex justify-content-between">
                        <h5 class="text-success mb-3">Add Single Guest</h5>
                        <div class="bg-danger text-white rounded-circle d-flex justify-content-center align-items-center"
                            style="width: 30px; height: 30px; cursor: pointer;" id="add_guest_cancel">
                            <i class="fa-solid fa-xmark"></i>
                        </div>
                    </div>
                    <div class="input-group-sm mb-2 shadow-sm">
                        <label for="guest_name" class="form-label fw-bold mb-1"><small style="color: black;">Name <span
                                    class="text-danger">*</span></small></label>
                        <input type="text" class="form-control" id="guest_name" placeholder="Add Full Name" required
                            oninput="validateName('guest_name', 'guest_name_warning')" />
                    </div>
                    <div style="color: red; font-size: 12px; display: none;" id="guest_name_warning">Please add Name
                    </div>
                    <div class="input-group-sm mb-2 shadow-sm">
                        <label for="guest_email" class="form-label fw-bold mb-1"><small style="color: black;">Email
                                Address
                                <span class="text-danger">*</span></small></label>
                        <input type="text" class="form-control" id="guest_email" placeholder="Add Email" required
                            oninput="validateEmail('guest_email', 'guest_email_warning')" />
                    </div>
                    <div style="color: red; font-size: 12px; display: none;" id="guest_email_warning">Please add Email
                        Address</div>
                    <div class="input-group-sm mb-2 shadow-sm">
                        <label for="guest_ph_no" class="form-label fw-bold mb-1"><small style="color: black;">Phone
                                Number
                                <span class="text-danger">*</span></small></label>
                        <input type="text" class="form-control" id="guest_ph_no" placeholder="Add Phone No." required
                            oninput="validatePhoneNumber('guest_ph_no', 'guest_ph_no_warning')" />
                    </div>
                    <div style="color: red; font-size: 12px; display: none;" id="guest_ph_no_warning">Please add Phone
                        Number</div>
                    <div class="input-group-sm text-end">
                        <button type="submit" class="form-control btn btn-sm btn-success" id="submit-single-guest"
                            style="width: 100px">Add</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- add single guest modal box end -->

        <!-- edit single guest modal box start  -->
        <div class="edit_single_guest_box min-vh-100 position-fixed w-100 top-0 d-flex justify-content-center align-items-center d-none"
            style="z-index: 1000;background: rgba(0,0,0,0.4); max-height: 500px; overflow-y: auto;">
            <div class="add-guest-content px-2 py-3 rounded shadow-sm bg-white" style="height: auto;">
                <form class="px-3 pb-2 pt-2">
                    <div class="d-flex justify-content-between">
                        <h5 class="text-success mb-3">Edit Single Guest</h5>
                        <div class="bg-danger text-white rounded-circle d-flex justify-content-center align-items-center"
                            style="width: 30px; height: 30px; cursor: pointer;" id="edit_guest_cancel"
                            onclick="document.querySelector('.edit_single_guest_box').classList.add('d-none')">
                            <i class="fa-solid fa-xmark"></i>
                        </div>
                    </div>
                    <div class="input-group-sm mb-2 shadow-sm">
                        <label for="edit_guest_name" class="form-label fw-bold mb-1"><small style="color: black;">Name
                                <span class="text-danger">*</span></small></label>
                        <input type="text" class="form-control" id="edit_guest_name" placeholder="Add Full Name"
                            required oninput="validateName('edit_guest_name', 'edit_guest_name_warning')" />
                    </div>
                    <div style="color: red; font-size: 12px; display: none;" id="edit_guest_name_warning">Please add
                        Name
                    </div>
                    <div class="input-group-sm mb-2 shadow-sm">
                        <label for="guest_email" class="form-label fw-bold mb-1"><small style="color: black;">Email
                                Address
                                <span class="text-danger">*</span></small></label>
                        <input type="text" class="form-control" id="edit_guest_email" placeholder="Add Email" required
                            oninput="validateEmail('edit_guest_email', 'edit_guest_email_warning')" />
                    </div>
                    <div style="color: red; font-size: 12px; display: none;" id="edit_guest_email_warning">Please add
                        Email
                        Address</div>
                    <div class="input-group-sm mb-2 shadow-sm">
                        <label for="guest_ph_no" class="form-label fw-bold mb-1"><small style="color: black;">Phone
                                Number
                                <span class="text-danger">*</span></small></label>
                        <input type="text" class="form-control" id="edit_guest_ph_no" placeholder="Add Phone No."
                            required oninput="validatePhoneNumber('edit_guest_ph_no', 'edit_guest_ph_no_warning')" />
                    </div>
                    <div style="color: red; font-size: 12px; display: none;" id="edit_guest_ph_no_warning">Please add
                        Phone
                        Number</div>
                    <div class="input-group-sm text-end">
                        <button type="submit" class="form-control btn btn-sm btn-success" id="update-single-guest"
                            style="width: 100px">Update</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- edit single guest modal box end -->

        <!-- add multiple guest modal box start  -->
        <div class="add-multiple-guest-box animate__animated animate__fadeOut min-vh-100 position-fixed w-100 top-0 d-flex justify-content-center align-items-center d-none"
            style="z-index: 1000;background: rgba(0,0,0,0.4); max-height: 500px; overflow-y: auto;">
            <div class="add-multi-guest-content p-3 rounded shadow-sm bg-white">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <div class=" fw-bold text-success">
                        Add Multiple Guest
                    </div>
                    <div class="bg-danger text-white rounded-circle d-flex justify-content-center align-items-center"
                        style="width: 30px;height: 30px;cursor: pointer;" id="add_multiple_guest_cancel">
                        <i class="fa-solid fa-xmark"></i>
                    </div>
                </div>
                <div id="csvErrorMsgBox"
                    class=" csvErrorMsgBox d-none justify-content-center align-items-center animate__animated border p-1 mb-2">
                </div>
                <div class=" w-100 mb-2 border d-flex justify-content-center align-items-center"
                    style=" height: 200px; border-style: dotted;">
                    <div class=" text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor"
                            class="bi bi-upload" viewBox="0 0 16 16">
                            <path
                                d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                            <path
                                d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z" />
                        </svg>
                        <form id="csvUploadForm">
                            <input type="file" style="display:none" id="fileDialog" name="csvFile" accept=".csv">
                        </form>
                        <a href="#" id="csvUpload" class=" text-decoration-underline">Upload File</a>
                        <div class="preview">
                            <p>...</p>
                        </div>
                    </div>
                </div>
                <div class=" d-flex justify-content-end">
                    <button class=" btn btn-success btn-sm" form="csvUploadForm">Add</button>
                </div>
            </div>
        </div>
        <!-- add multiple guest modal box end -->

        <section class="main container mt-3" style="padding-top: 80px;">
            <div class="d-flex flex-wrap align-items-center justify-content-between">
                <div class="mt-2">

                </div>
                <div class="text-center" th:if="${exam_status == 'Marking' or exam_status == 'Result Released'}">
                    <p style="color: red;"><strong>Adding and Editing Guest Examinees are only allowed in 'Exam Created'
                            or
                            'Questions Created'
                            exam status.</strong></p>
                </div>
                <div class="">
                    <div class="btn btn-success btn-sm mt-2 mx-2" id="add_single_guest"
                        th:if="${exam_status != 'Marking' and exam_status != 'Result Released'}">
                        Add Single Guest
                    </div>
                    <div class="btn btn-success btn-sm mt-2" id="add_multiple_guest"
                        th:if="${exam_status != 'Marking' and exam_status != 'Result Released'}">
                        Add Multiple Guest
                    </div>
                </div>
            </div>

            <div class="d-flex flex-wrap align-items-center justify-content-between mt-3">
                <div class="">
                    <small class="fw-bold text-success me-3"><span class="total_guests_found"
                            th:text="${total_guests}"></span> Guests
                        Found</small>
                    <small class="fw-bold text-success"><span th:text="${check_guests}"></span>/<span
                            th:text="${total_guests}"></span> Checked</small>
                </div>
                <div class="bg-white d-flex align-items-center px-2 mt-3" id="guest_search_box">
                    <i class="fa-solid fa-magnifying-glass me-1" id="guest_search_icon"></i>
                    <input type="search" class="px-2 py-1 border-0 w-100" placeholder="Search Guest User"
                        id="search_guest_name">
                </div>
            </div>

            <div class="d-flex flex-wrap align-items-center justify-content-end mt-3">
                <a href="?" style="padding-right: 10px; padding-top: 5px;">Clear</a>
                <div class="btn btn-success btn-sm mt-2" id="search_guest">Search</div>
            </div>

            <!-- guest result start  -->
            <section class="my-3">
                <div class="d-flex flex-wrap align-items-center justify-content-start">
                    <div class="col-12 col-md-6 col-lg-4 card-container mx-0 px-0 px-md-1 mt-3 guest-item"
                        th:each="test_guest : ${test_guests}">
                        <div class="card border-0 shadow-sm">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-start">
                                    <img th:src="@{/images/profile.png}" alt="" class="img-fluid rounded-circle"
                                        style="width: 50px; height: 50px" />
                                    <div class="d-flex justify-content-end align-items-center p-2 gap-3">
                                        <div th:if="${exam_status != 'Marking' and exam_status != 'Result Released'}">
                                            <i class="fa-solid fa-pen-to-square" style="cursor: pointer; color: #000;"
                                                th:onclick="setDataToEdit([[${test_guest}]]);"></i>
                                        </div>

                                        <form
                                            th:action="@{'/delete-guest/' + ${test_id} + '/' + ${test_guest.guestUserInfo.guest_id} + '/' + ${user_role}}"
                                            method="POST" class="deleteForm">
                                            <button type="submit" onclick="showConfirmationDeletion(event)"
                                                class="rounded-circle bg-danger text-white d-flex justify-content-center align-items-center fw-bold"
                                                style="cursor: pointer; width: 25px; height: 25px">
                                                <i class="fa-solid fa-xmark"></i>
                                            </button>
                                        </form>
                                    </div>
                                </div>

                                <div class="mt-3">
                                    <small class="fw-bold name"
                                        th:text="${test_guest.guestUserInfo.name}"></small><br />
                                    <small class="fw-bold ph-no"
                                        th:text="${test_guest.guestUserInfo.phone_no}"></small><br />
                                    <small class="fw-bold mail"
                                        th:text="${test_guest.guestUserInfo.mail}"></small><br />
                                    <small class="fw-bold text-muted">Checked Questions
                                        (<span
                                            th:text="${test_guest.total_unmark_answer} + '/' + ${test_guest.total_free_answer}"></span>)</small>
                                    <div class="text-end mt-2">
                                        <small class="fw-bold">
                                            <a class="adminLink text-success text-decoration-underline"
                                                th:href="'/admin/exam/' + ${test_guest.test.test_id} + '/guest/'+ ${test_guest.guestUserInfo.guest_id}">Go
                                                To Answers</a>
                                            <!-- <a class="teacherLink text-success text-decoration-underline"
                                            th:href="'/teacher/exam/' + ${test_guest.test.test_id} + '/guest/'+ ${test_guest.guestUserInfo.guest_id}">Go
                                            To Answers</a> -->
                                        </small>
                                    </div>
                                </div>

                                <script>
                                    var userRole = "[[${user_role}]]";
                                    var adminLinks = document.getElementsByClassName("adminLink");
                                    var teacherLinks = document.getElementsByClassName("teacherLink");

                                    if (userRole === "SUPER_ADMIN" || userRole === "ADMIN") {
                                        Array.from(teacherLinks).forEach(function (link) {
                                            link.style.display = "none";
                                        });
                                    }
                                    // else if (userRole === "TEACHER") {
                                    //     Array.from(adminLinks).forEach(function (link) {
                                    //         link.style.display = "none";
                                    //     });
                                    // }
                                </script>

                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- student result end  -->
        </section>

    </section>

    <div style="height: 50px"></div>
    <div th:replace="@{fragments/footer}"></div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script th:src="@{/js/AT0005_TestStudentList.js}"></script>
    <script th:src="@{/js/AT0005_TestGuestList.js}"></script>
    <script th:inline="javascript">
        var test_id = /*[[${test_id}]]*/ null;
        var test_examinee = /*[[${test_examinees}]]*/ null;
        var user_role =/*[[${user_role}]]*/ null;
        if (user_role == "TEACHER") {
            url = "teacher";
        } else {
            url = "admin";
        }

        var addEnrolledStudent = document.getElementById("add_enrolled_student");
        addEnrolledStudent.addEventListener('click', () => {
            data = {
                test_id: test_id
            }
            data = JSON.stringify(data);
            fetch("/" + url + "/set-enrolled-examinee", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: data
            }).then(response => {
                if (response.status == 200) {
                    window.location.reload();
                }
            })
        })

        var addstudent = document.getElementById("add_student_search");
        addstudent.addEventListener("input", function () {
            var student_list = $("#student_list");
            student_list.empty();
            if (addstudent.value != "") {
                var searchValue = addstudent.value; // Convert to lowercase
                fetch("/" + url + "/get-student?name=" + encodeURIComponent(searchValue), {
                    method: "GET",
                    headers: {
                        "Content-Type": "application/json"
                    }
                }).then(response => response.json())
                    .then(data => {
                        console.log(data);
                        for (var i = 0; i < data.length; i++) {
                            student_list.append('<div class="mt-3 shadow-sm rounded p-2 border">' +
                                '<div class="d-flex justify-content-between align-items-end">' +
                                '<div class="d-flex align-items-center">' +
                                '<div class="me-2" style="width: 65px;">' +
                                '<img src="https://pyinnyarsubuu.com/images/profile.png" alt="" class="img-fluid rounded-circle">' +
                                '</div>' +
                                '<div class="">' +
                                '<small class="fw-bold d-block">' + data[i]['userName'] + '</small>' +
                                '<small class="fw-bold d-block">' + data[i]['phoneNo'] + '</small>' +
                                '<small class="fw-bold d-block">' + data[i]['userAccount']['mail'] + '</small>' +
                                '</div>' +
                                '</div>' +
                                '<div class="btn btn-sm btn-success" onclick="setStudentData(' + data[i]['uid'] + ');">Add</div>' +
                                '</div>' +
                                '</div>');
                        }
                    })
            }
        });


        function setStudentData(student) {
            data = {
                test_id: test_id,
                student_id: student
            }
            data = JSON.stringify(data);
            fetch("/" + url + "/set-examinee", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: data
            }).then(response => {
                window.location.reload();
            })
        }

    </script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {

            $("#search_examinee").click(function () {
                var searchValue = $("#search_student").val().toLowerCase();


                $(".student-item").each(function () {
                    var studentName = $(this).find(".name").text().toLowerCase();


                    if (studentName.includes(searchValue)) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            });
        });
    </script>

    <script th:inline="javascript">
        var type;
        var test_id = /*[[${test_id}]]*/ null;
        var guest_id = /*[[${guest_id}]]*/ null;
        var emailVerificationMessage = document.getElementById("email_verification_warning");

        var nameValid = true;
        var emailValid = true;
        var phoneNumberValid = true;

        var guestName = document.getElementById("guest_name");
        var guestEmail = document.getElementById("guest_email");
        var guestPhoneNumber = document.getElementById("guest_ph_no");
        var guestNameWarning = document.getElementById("guest_name_warning");
        var guestEmailWarning = document.getElementById("guest_email_warning");
        var guestPhoneNumberWarning = document.getElementById("guest_ph_no_warning");

        var editGuestName = document.getElementById("edit_guest_name");
        var editGuestEmail = document.getElementById("edit_guest_email");
        var editGuestPhonenumber = document.getElementById("edit_guest_ph_no");

        var user_role =/*[[${user_role}]]*/ null;

        if (user_role == "TEACHER") {
            url = "teacher";
        } else {
            url = "admin";
        }

        function submitData() {

            var data;

            if (guestName.value === "" || guestEmail.value === "" || guestPhoneNumber.value === "") {
                // Swal.fire({
                //     icon: 'error',
                //     title: 'Fields Missing',
                //     text: 'Please fill in all required fields.'
                // });
                if (guestName.value === "") {
                    guestName.classList.add("is-invalid");
                    guestNameWarning.innerText = "Please add Name";
                    guestNameWarning.style.display = "block";
                }
                if (guestEmail.value === "") {
                    guestEmail.classList.add("is-invalid");
                    guestEmailWarning.innerText = "Please add Email Address";
                    guestEmailWarning.style.display = "block";
                }
                if (guestPhoneNumber.value === "") {
                    guestPhoneNumber.classList.add("is-invalid");
                    guestPhoneNumberWarning.innerText = "Please add Phone Number";
                    guestPhoneNumberWarning.style.display = "block";
                }
                return; // Exit the function without sending the POST request
            }

            if (!inputValidation()) {
                return;
            }

            data = {
                test_id: test_id,
                guest_name: guestName.value,
                guest_email: guestEmail.value,
                guest_ph_no: guestPhoneNumber.value
            }
            data = JSON.stringify(data);
            fetch("/" + url + "/set-single-guest", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: data
            }).then((response) => {
                if (response.ok) {
                    Swal.fire({
                        title: 'Success',
                        icon: 'success',
                        text: 'Successfully add single guest user'
                    }).then((result) => {
                        window.location.reload();
                    });
                } else {
                    response.json().then(error => {
                        displayErrorMessage(error.errorMessage)
                    });
                }
            });

        }

        function editData() {

            var data;
            
            if (!inputValidation()) {
                return;
            }
            data = {
                test_id: test_id,
                guest_id: guest_id,
                guest_name: editGuestName.value,
                guest_email: editGuestEmail.value,
                guest_ph_no: editGuestPhonenumber.value
            }
            data = JSON.stringify(data);

            Swal.fire({
                title: 'Are you sure?',
                html: 'If you change the email address, a new <b>one-time-password</b> will be sent to the email?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Yes, edit it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    fetch("/" + url + "/edit-single-guest", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: data
                    }).then(response => {
                        if (response.ok) {
                            Swal.fire({
                                title: 'Success',
                                icon: 'success',
                                text: 'Guest User edited successfully'
                            }).then((result) => {
                                window.location.reload();
                            });
                        } else {
                            response.json().then(error => {
                                displayErrorMessage(error.errorMessage);
                            });
                        }
                    });
                }
            });

        }

        function inputValidation() {
            if (nameValid && emailValid & phoneNumberValid) {
                return true;
            } else {
                return false;
            }
        }

        function validateName(inputId, messageId) {
            var guest_name = document.getElementById(inputId);
            var guest_name_warning = document.getElementById(messageId);
            if (guest_name.value == "") {
                guest_name.classList.add("is-invalid");
                guest_name_warning.style.display = "block";
                guest_name_warning.innerText = "Please add Name"
                nameValid = false;
            } else {
                guest_name.classList.remove("is-invalid");
                guest_name_warning.style.display = "none";
                nameValid = true;
            }
        }

        function validateEmail(inputId, messageId) {
            var guest_email = document.getElementById(inputId);
            var guest_email_warning = document.getElementById(messageId);

            const pattern = /^[a-zA-Z0-9_+&*-]+(?:\.[a-zA-Z0-9_+&*-]+)*@(?:[a-zA-Z0-9-]+\.)+[a-zA-Z]{2,7}$/;

            if (guest_email.value == "") {
                guest_email.classList.add("is-invalid");
                guest_email_warning.style.display = "block";
                guest_email_warning.innerText = "Please add Email Address";
                emailValid = false;
            } else if (!pattern.test(guest_email.value)) {
                guest_email.classList.add("is-invalid");
                guest_email_warning.style.display = "block";
                guest_email_warning.innerText = "Email address must be mail address type.";
                emailValid = false;
            } else {
                guest_email_warning.style.display = "none";
                guest_email.classList.remove("is-invalid");
                emailValid = true;
            }
        }

        function validatePhoneNumber(inputId, messageId) {
            var guest_ph_no = document.getElementById(inputId);
            var guest_ph_no_warning = document.getElementById(messageId);

            const pattern = /^[0-9]+$/;

            if (guest_ph_no.value == "") {
                guest_ph_no.classList.add("is-invalid");
                guest_ph_no_warning.style.display = "block";
                guest_ph_no_warning.innerText = "Please add Phone Number"
                phoneNumberValid = false;
            } else if (!pattern.test(guest_ph_no.value)) {
                guest_ph_no.classList.add("is-invalid");
                guest_ph_no_warning.style.display = "block";
                guest_ph_no_warning.innerText = "Phone number must be number type";
                phoneNumberValid = false;
            } else {
                guest_ph_no_warning.style.display = "none";
                guest_ph_no.classList.remove("is-invalid");
                phoneNumberValid = true;
            }

        }

        function setDataToEdit(test_guest) {

            guest_id = test_guest.guestUserInfo.guest_id;
            document.querySelector('.edit_single_guest_box').classList.remove('d-none');

            /* Reset the css class */
            editGuestName.classList.remove("is-invalid");
            document.getElementById("edit_guest_name_warning").style.display = "none";

            editGuestEmail.classList.remove("is-invalid");
            document.getElementById("edit_guest_email_warning").style.display = "none";

            editGuestPhonenumber.classList.remove("is-invalid");
            document.getElementById("edit_guest_ph_no_warning").style.display = "none";

            editGuestName.value = test_guest.guestUserInfo.name;
            editGuestEmail.value = test_guest.guestUserInfo.mail;
            editGuestPhonenumber.value = test_guest.guestUserInfo.phone_no;

        }

        function displayErrorMessage(errorMessage) {
            Swal.fire({
                icon: 'warning',
                title: 'Try again with different email',
                text: errorMessage,
            }).then((result) => {
                return;
            });
        }

        function showConfirmationDeletion(event) {
            event.preventDefault(); // Prevent the form from submitting

            Swal.fire({
                title: 'Are you sure?',
                text: 'You are about to delete the test guest. This action cannot be undone!',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    event.target.closest('.deleteForm').submit();
                }
            });
        }

        // Check CSV data and send data to backend for Add Multiple Guest Dialog
        const csvUploadForm = document.querySelector('#csvUploadForm')
        const csvErrorMsgBox = document.getElementById("csvErrorMsgBox")

        csvUploadForm.addEventListener('submit', function (e) {
            e.preventDefault()
            let file = e.target.csvFile.files[0]

            // Check if a file is selected
            if (file == null) {
                createCsvErrorMsg("Please select a CSV file!");
                return;
            }

            // Check if file type is correct
            const allowedFileType = "text/csv";
            if (file.type != allowedFileType) {
                createCsvErrorMsg("There is an error with the uploaded CSV file. The uploaded file type must be CSV file.");
                return;
            }

            var csvdata;
            var ExamGuestUsers = [];
            var reader = new FileReader();
            reader.readAsText(file);
            reader.onload = function (event) {
                csvdata = event.target.result;

                // Check if csv file has data or not
                if (csvdata == "") {
                    createCsvErrorMsg("There is an error with the uploaded CSV file. Please check the CSV file content and upload again.");
                    return;
                }

                // Check if csv file's data is encoded in utf-8 or not
                if (!isUTF8Encoded(csvdata)) {
                    createCsvErrorMsg("There is an error with the uploaded CSV file. The uploaded file encoding type must be UTF-8.");
                    return;
                }

                var rowData = csvdata.split('\n');


                // Check if csv file has more than 31 rows(including headers)
                if (rowData.length > 32) {
                    createCsvErrorMsg("There is an error with the uploaded CSV file. The uploaded record is exceeded to maximum [30].");
                    return;
                }

                // Check if csv file's headers are correct
                csvFileHeaders = rowData[0].split(',');
                console.log(csvFileHeaders)
                if (csvFileHeaders[0] != "Name" || csvFileHeaders[1] != "Email" || csvFileHeaders[2] != "PhoneNumber") {
                    createCsvErrorMsg("There is an error with the uploaded CSV file. Row Headers Must be match as described in CSV Import Item's Specification.");
                    return;
                }

                // Check if csv file has at least one data row
                csvFirstRow = rowData[1].split(',');
                if (csvFirstRow[0] == "" || csvFirstRow[1] == "" || csvFirstRow[2] == "") {
                    createCsvErrorMsg("There is no record in the uploaded CSV file. Please check the CSV file content and upload again.");
                    return;
                }

                var searchValue;
                for (var row = 1; row < (rowData.length - 1); row++) {
                    rowColData = rowData[row].split(',');
                    ExamGuestUsers.push(rowColData);

                    // Check if there are incorrect email format
                    if (!validateEmailFormat(rowColData[1])) {
                        createCsvErrorMsg("There is an error with the uploaded CSV file. Please check the CSV file content and upload again.");
                        return;
                    }
                }

                data = {
                    test_id: test_id,
                    exam_guest_users: ExamGuestUsers
                };
                data = JSON.stringify(data);
                console.log(data);
                fetch("/" + url + "/set-multi-guest-examinee", {
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    body: data
                }).then(response => {
                    createCsvSuccessMsg("Successfully add multiple guest user");
                    window.location.reload();
                })
            };
        })

        // Create csv error message to put in csv error message box
        function createCsvErrorMsg(errorMsg) {
            const csvErrorMsg = document.createElement("p");
            csvErrorMsg.classList.add("mb-0", "text-danger", "text-center")
            csvErrorMsg.textContent = errorMsg;
            csvErrorMsgBox.appendChild(csvErrorMsg);
            csvErrorMsgBox.classList.add("animate__fadeIn", "border-danger");
            csvErrorMsgBox.classList.replace("d-none", "d-flex");
            return;
        }

        // Create csv success message to put in csv error message box
        function createCsvSuccessMsg(successMsg) {
            const csvSuccessMsg = document.createElement("p");
            csvSuccessMsg.classList.add("mb-0", "text-success", "text-center")
            csvSuccessMsg.textContent = successMsg;
            csvErrorMsgBox.appendChild(csvSuccessMsg);
            csvErrorMsgBox.classList.add("animate__fadeIn", "border-success");
            csvErrorMsgBox.classList.replace("d-none", "d-flex");
            return;
        }

        // Check inputString is encoded in utf-8 or not
        function isUTF8Encoded(inputString) {
            const encoder = new TextEncoder();
            const decoder = new TextDecoder('utf-8');

            const encodedData = encoder.encode(inputString);

            try {
                decoder.decode(encodedData);
                return true;
            } catch (error) {
                return false;
            }
        }

        // Email validation function
        function validateEmailFormat(email) {
            const emailRegex = /^[\w+-]+(\.[\w+-]+)*@([\w-]+\.)+[a-zA-Z]{2,7}$/;
            return emailRegex.test(email);
        }

    </script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {

            $("#search_guest").click(function () {
                var totalGuests = 0
                var searchValue = $("#search_guest_name").val().toLowerCase();

                $(".guest-item").each(function () {
                    var guestName = $(this).find(".name").text().toLowerCase();
                    var guestEmail = $(this).find(".mail").text().toLowerCase();
                    var guestPhoneNumber = $(this).find(".ph-no").text();


                    if (guestName.includes(searchValue) || guestEmail.includes(searchValue) || guestPhoneNumber.includes(searchValue)) {
                        $(this).show();
                        totalGuests++;
                    } else {
                        $(this).hide();
                    }
                });
                $(".total_guests_found").text(totalGuests);
            });

            $("#submit-single-guest").click(function (event) {
                // Prevent the default form submission behavior
                event.preventDefault();
                submitData();
            });

            $("#update-single-guest").click(function (event) {
                // Prevent the default form submission behavior
                event.preventDefault();
                editData();
            });
        });
    </script>
    <script th:src="@{/js/main.js}"></script>
</body>

</html>