<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extrasspringsecurity4">

<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/ico" href="http://www.datatables.net/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, user-scalable=no">
    <title>Mapping Site</title>
    <!-- <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css"> -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
    <!-- <link rel="stylesheet" type="text/css" href="css/dataTables.bootstrap5.css">
    <link rel="stylesheet" type="text/css" href="css/shCore.css">
    <link rel="stylesheet" type="text/css" href="css/demo.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="css/dataTableManual.css">
    <link rel="stylesheet" type="text/css" href="css/dataTableSCSSMaual.css"> -->
    
    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>



    <title>Mapping Site</title>

    <script type="text/javascript">
        $(document).ready(function() {
            
            $("#noCheck").prop("checked", true);

        });
    

    
        function yesnoCheck() {
            if (document.getElementById('yesCheck').checked) {
                document.getElementById('iflive').style.display = 'block';
                document.getElementById('ifvideo').style.display = 'none';
            } else {
                document.getElementById('iflive').style.display = 'none';
                document.getElementById('ifvideo').style.display = 'block';
            }

        }
    </script>

    <style>
        label{
            font-weight: bold;
        }
        .studentListHeader{
            
            color: #000;
            font-weight: bold;
            font-size: 20px;
        }
        /* .btn-primary,
        .btn-primary:hover,
        .btn-primary:active,
        .btn-primary:visited {
            background-color: #7749F8 !important;
        } */
    </style>
</head>
</html>
<body>
    <div th:replace="${nav_type}"></div>
    
    <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>'">
        <ol class="breadcrumb">
            <th:block th:each="bc : ${breadcrumbList}">
            <!-- TODO change last route color -->
            <li class="breadcrumb-item"><a th:href="@{/}" th:utext="${bc}" style="text-decoration: none;"></a></li> 
            <!-- <li class="breadcrumb-item active"><a href="#" th:utext="${state.last}"></a></li> -->
            </th:block>
        </ol>
    </nav>

    <div class="card mx-auto p-3 mt-3" style="max-width: 800px;">
        <div class="text-center studentListHeader">
          Update Course Confirm
        </div>
        <hr class="py-1">
        <div>
            <form th:action="@{${postAction}}" method="post">
                <div th:object="${course}">
                    <div class="row form-sec-header">
                        <div class="col-lg-12 text-center">
                            <p></p>
                        </div>
                    </div>

                    <div class="mb-3">
                        
                        <label for="classtype" class="col-lg-3 col-form-label">Class Type</label>

                        <input type="text" class="form-control" name="ctype" th:field="*{classType}" style="border: none transparent;" readonly></input>
                    </div>


                    <div class="mb-3">
                        <label class="form-label" for="cname">Course Name</label>

                        <input type="text" class="form-control" id="inputCourseName" th:field="*{courseName}" style="border: none transparent;" readonly></input>
                    </div>


                    <div class="mb-3">
                        <label class="form-label" for="ccategory">Course Category</label>
                        <input type="text" class="form-control" th:field="*{category}" style="border: none transparent;" readonly></input>
                    </div>


                    <div class="mb-3">
                        <label class="form-label" for="clevel">Course Level</label>
                        <input type="text" class="form-control" id="inputCourseName" th:field="*{level}" style="border: none transparent;" readonly></input>
                    </div>





                    <div class="mb-3">
                        <label class="form-label" for="cfee">Course Fee</label>

                        <input type="number" class="form-control" id="inputCourseFee" placeholder="Enter your course fee here.(Kyats)" th:field="*{fees}" style="border: none transparent;" readonly></input>
                    </div>
                    
                    <div class="mb-3">
                        <label class="form-label" for="cabout">About Course</label>

                        <textarea class="form-control" id="inputCourseName" th:field="*{aboutCourse}" style="border: none transparent;" readonly></textarea>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="cprerequisites">Prerequisites</label>

                        <input type="text" class="form-control" id="inputPrerequisites" th:field="*{prerequisite}" style="border: none transparent;" readonly></input>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="cclasslink">Class Link</label>

                        <textarea class="form-control" id="inputClassLink" th:field="*{classLink}" style="border: none transparent;" readonly></textarea>
                    </div>
                    <!-- <input type="hidden" class="form-control" id="teacherid" th:field="*{uid}" style="border: none transparent;" readonly></input> -->
                    <input type="hidden" class="form-control" id="teacherid" th:field="*{uid}" style="border: none transparent;" readonly></input>
                    <input type="hidden" class="form-control" id="teacherid" th:field="*{courseId}" style="border: none transparent;" readonly></input>
                </div>

                

                <div th:if="${classActiveLive}">

                    <div th:object="${course}">
                        <div class="mb-3">
                            <label class="form-label" for="maxStu">Student Numbers</label>

                            <input type="text" class="form-control" id="inputCourseName" th:field="*{maxStu}" style="border: none transparent;" readonly></input>
                        </div>
                        <div class="form-group row"></div>
                        <div class="form-group row mb-3">
                            <div class="col-lg-1"></div>
                            <label for="about" class="col-lg-2 col-form-label">Start Date</label>
                
                            <div class="col-lg-3">
                              <!-- <input id="datepicker9" class="form-control" placeholder="yyyy-mm-dd"> -->
                              <!-- <input type="date" id="datepicker9" th:field="*{startDate}" class="form-control" placeholder="dd-mm-yyy"> -->
                              <input class="form-control" placeholder="dd-mm-yyy" th:field="*{startDate}" style="border: none transparent;" readonly>
                
                            </div>
                            <label for="date" class="col-lg-2 col-form-label">End Date</label>
                
                            <div class="col-lg-3">
                              <!-- <input id="datepicker10" class="form-control" placeholder="yyyy-mm-dd"> -->
                              <!-- <input type="date" id="datepicker10" th:field="*{startDate}" class="form-control" placeholder="dd-mm-yyy"> -->
                              <input class="form-control" placeholder="dd-mm-yyy" th:field="*{endDate}" style="border: none transparent;" readonly>
                
                
                            </div>
                
                          </div>
                          <div th:each="courseTime : ${courseTimeList}">
                            <div class="form-group row mb-3">
                                <div class="col-lg-1"></div>
                                <div class="col-lg-3">
                                    <input type="text" th:name="courseDays" th:value="${courseTime.courseDays}" readonly style="border: none;">

                                </div>

                                <div class="col-lg-8 row">
                                    <div class="col-lg-4">
                                        <label for="time">From</label>
                                        <input type="text" th:name="courseStartTime" th:value="${courseTime.courseStartTime}" id="time3" readonly />

                                    </div>
                                    <div class="col-lg-1"></div>
                                    <div class="col-lg-4">
                                        <label for="time">To</label>
                                        <input type="text" th:name="courseEndTime" th:value="${courseTime.courseEndTime}" id="time4" readonly />

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    



                    <!-- <div class="input_fields_wrap">
                    </div> -->
                </div>


                <div class="d-grid gap-2 d-flex justify-content-around">
                    
                        <!-- <button id="btnReset" type="reset" class="btn btn-spacing btn-secondary center-block" Style="width: 100px;" OnClick="btnClear_Click">Reset</button> -->
                        <button id="btnBack" type="reset" class="btn btn-spacing btn-secondary center-block" Style="width: 100px;" OnClick="history.go(-1)">Back</button>
                    
                    
                        <!-- <button id="btnReg" class="btn btn-spacing btn-primary center-block" Style="width: 150px;" OnClick="btnRegister_Click">Register</button> -->
                        <button id="btnConfirm" class="btn btn-spacing btn-primary center-block" Style="width: 150px;" OnClick="btnConfirm_Click">Confirm</button>

                    
                </div>
                <div class="form-group row"></div>
            </form>
        </div>
    </div>

    <div th:replace="@{fragments/footer}"></div>

      <script>
            $("input").on("click", function() {
                $("#log").html($("input:checked").val() + " is checked!");
            });

            $('input[type="checkbox"]').click(function() {
            if (!this.checked) {
                $(this).closest('div').nextAll('div').find('input').attr('disabled', true);
            } else {
                $(this).closest('div').nextAll('div').find('input').attr('disabled', false);
            }
        });
      </script>
</body>
</html>