<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Exam List Screen</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" th:href="@{/css/AT0004_ExamManagement.css}" />
  <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
  <link rel="stylesheet" th:href="@{/css/CM0004_Student Profile.css}" />
  <link rel="stylesheet" th:href="@{/css/global.css}" />
  <link rel="icon" type="image/x-icon" href="/images/fav.png" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.min.js"></script>
  <script th:inline="javascript">
    var type;
    var test_id;
    var currentTestInfo;
    var currentTest;

    function launchExam() {
      console.log("launchExamOK");

      const dialoglaunchOKBtn = document.getElementById("launchExamOK");
      $("#launchExamOK").click(function () {
        closeDialogOK();
      });
      function closeDialogOK() {
        const dialogOK = document.getElementById("sure_launch_exam");
        dialogOK.style.visibility = "hidden";
      }

      // if (!currentTestInfo) {
      //     alert("Checking Data please wait");
      // }
      if (currentTestInfo) {
        if (currentTestInfo.questionCount == 0) {
          // show error
          alert("Exam can launch after the Questions are Created!");
          return;
        }
        if (currentTestInfo.examineeCount == 0) {
          // show error
          alert("There is no examinee in this exam, please check again.");
          return;
        }
        $.ajax({
          url: "/admin/launchExam",
          type: "POST",
          data: {
            test_id: currentTestInfo.test_id
          },
          success: function (data) {

            console.log(data);

            document.getElementById("sure_launch_exam").style.display = 'none';

            //hide

          },
          error: function (jqXHR, textStatus, errorThrown) {
            console.log(textStatus, errorThrown);
            // handle error response
          }
        });

      }
    }
    $(document).ready(() => {
      var role = /*[[${role}]]*/ "default";
      if (role == "admin") {
        document.getElementById("teacher_dropdown_main").style.display = 'block';
      } else {
        document.getElementById("teacher_dropdown_main").style.display = 'none';
      }

      let today = new Date().toISOString().slice(0, 10)
      document.getElementById("exam_date").setAttribute("min", today);
      let createExamContainer = document.querySelector('.create-exam-container');
      let deleteExamContainer = document.querySelector('.delete-exam-container');
      let cancelBtn = document.querySelector('#cancel_btn');
      let deleteCancelBtn = document.querySelector('#delete_cancel_btn');
      let createExam = document.querySelector('#create_exam');

      cancelBtn.addEventListener('click', () => createExamContainer.classList.add('d-none'));
      deleteCancelBtn.addEventListener('click', () => deleteExamContainer.classList.add('d-none'));
      createExam.addEventListener('click', () => {
        $("#student_guest_check").css("display", "block")
        createExamContainer.classList.remove('d-none')
        $("#exam_status_dropdown").css("display", "none");
        type = "Created";
        document.getElementById("course_name").value = "Choose Course";
        document.getElementById("description").value = "";
        document.getElementById("section_name").value = "";
        document.getElementById("passing_score").value = "";
        document.getElementById("exam_date").value = "";
        document.getElementById("exam_start_time").value = "";
        document.getElementById("exam_end_time").value = "";
      });



      $("#submit").click(function () {
        submitData(type);
      })

      $("#deleteSubmit").click(function () {
        fetch("/admin/delete-exam?test_id=" + test_id, {
          method: "GET",
          headers: {
            "Content-Type": "application/json"
          }
        }).then(response => {
          if (response.status == 200) {
            window.location.reload();
          }
        })
      })

      $("#filterbystatus").change(function () {
        console.log($("#filterbystatus :selected").text());
        window.location.href = "/admin/exam?examStatus=" + $("#filterbystatus :selected").text();
      });

      $("#clearFilter").click(function () {
        window.location.href = "/admin/exam"
      })

      $("#filterbycourse").change(function () {
        var filterCourseDropdown = document.getElementById("filterbycourse");
        var filterCourseID = filterCourseDropdown.options[filterCourseDropdown.selectedIndex].id;
        console.log(filterCourseID);
        window.location.href = "/admin/exam?courseid=" + filterCourseID;
      });

      $("#filterbyteacher").change(function () {
        var filterTeacherDropdown = document.getElementById("filterbyteacher");
        var filterTeacherID = filterTeacherDropdown.options[filterTeacherDropdown.selectedIndex].id;
        console.log(filterTeacherID);
        window.location.href = "/admin/exam?teacherid=" + filterTeacherID;
      });

      $("#teacher_name").change(function () {
        var course_dropdown = $("#course_name");
        course_dropdown.empty();
        course_dropdown.append("<option value='Choose Course' selected><small>Choose Course</small></option>");
        var teacherNameDropdown = document.getElementById("teacher_name");
        var teacherID = teacherNameDropdown.options[teacherNameDropdown.selectedIndex].id;
        if (teacherID == "") {
          return;
        }
        fetch("/admin/get-course-by-teacher?teacher_id=" + teacherID, {
          method: "GET",
          headers: {
            "Content-Type": "application/json"
          }
        }).then(response => response.json())
          .then(data => {
            for (var i = 0; i < data.length; i++) {
              course_dropdown.append("<option value='" + data[i]["courseName"] + "' id='" + data[i]["courseId"] + "'><small>" + data[i]["courseName"] + "</small></option>");
            }
          })
      });
    })

    function setDataToEditDialog(test) {
      $("#student_guest_check").css("display", "none")
      currentTest = test;
      $.ajax({
        url: "/admin/testInfo",
        type: "GET",
        data: {
          test_id: test.test_id
        },
        success: function (data) {
          currentTestInfo = data;
          if (currentTestInfo.examTarget == 1) {
            $("#teacher_sector").css("display", "none")
            $("#course_sector").css("display", "none")
            $("#ExamLaunched").show();
            $("#launchExam").show();
          } else {
            $("#teacher_sector").css("display", "block")
            $("#course_sector").css("display", "block")
          }
          console.log(data);
          // handle success response
        },
        error: function (jqXHR, textStatus, errorThrown) {
          console.log(textStatus, errorThrown);
          // handle error response
        }
      });

      var course_dropdown = $("#course_name");
      course_dropdown.empty();
      course_dropdown.append("<option value='Choose Course' selected><small>Choose Course</small></option>");

      test_id = test.test_id;
      type = "Update"
      let createExam = document.querySelector('.create-exam-container');
      createExam.classList.remove('d-none');
      var datearray = test.date.split("T");
      document.getElementById("teacher_name").value = test.userInfo.uid;



      fetch("/admin/get-course-by-teacher?teacher_id=" + test.userInfo.uid, {
        method: "GET",
        headers: {
          "Content-Type": "application/json"
        }
      }).then(response => response.json())
        .then(data => {
          for (var i = 0; i < data.length; i++) {
            course_dropdown.append("<option value='" + data[i]["courseName"] + "' id='" + data[i]["courseId"] + "'><small>" + data[i]["courseName"] + "</small></option>");
          }
          document.getElementById("course_name").value = test.courseInfo.courseName;
        })
      document.getElementById("exam_status").value = test.exam_status;
      document.getElementById("description").value = test.description;
      document.getElementById("section_name").value = test.section_name;
      document.getElementById("passing_score").value = test.passing_score_percent;
      document.getElementById("exam_date").value = datearray[0];
      document.getElementById("exam_start_time").value = test.start_time;
      document.getElementById("exam_end_time").value = test.end_time;
      $("#exam_status_dropdown").css("display", "block");
    }

    function setDataToDeleteDialog(test) {
      test_id = test.test_id;
      let deleteExamDialog = document.querySelector('.delete-exam-container');
      deleteExamDialog.classList.remove('d-none');
    }

    function submitData(submitType) {
      var courseDropDown = document.getElementById("course_name");
      var courseName = courseDropDown.value;
      var teacherDropDown = document.getElementById("teacher_name");
      var student_guest = document.querySelector('input[name="student-guest"]:checked').value;
      var teacherName = teacherDropDown.value;
      // var courseId = courseDropDown.options[courseDropDown.selectedIndex].id;
      // var teacherId = teacherDropDown.options[teacherDropDown.selectedIndex].id;
      var courseId = courseDropDown.options[courseDropDown.selectedIndex]?.id;
      var teacherId = teacherDropDown.options[teacherDropDown.selectedIndex]?.id;
      if (teacherName == "Choose Teacher" && student_guest == "student") {
        document.getElementById("teacher_warning").style.display = 'block';
        return;
      } else {
        document.getElementById("teacher_warning").style.display = 'none';
      }

      if (courseName == "Choose Course" && student_guest == "student") {
        document.getElementById("course_warning").style.display = 'block';
        return;
      } else {
        document.getElementById("course_warning").style.display = 'none';
      }

      var description = document.getElementById("description").value;
      if (description == "") {
        document.getElementById("description_warning").style.display = 'block';
        return;
      } else {
        document.getElementById("description_warning").style.display = 'none';
      }

      var section_name = document.getElementById("section_name").value;
      if (section_name == "") {
        document.getElementById("section_name_warning").style.display = 'block';
        return;
      } else {
        document.getElementById("section_name_warning").style.display = 'none';
      }

      var exam_date = document.getElementById("exam_date").value;
      if (exam_date == "") {
        document.getElementById("exam_date_warning").style.display = 'block';
        return;
      } else {
        document.getElementById("exam_date_warning").style.display = 'none';
      }

      var exam_start_time = document.getElementById("exam_start_time").value;
      if (exam_start_time == "") {
        document.getElementById("exam_start_time_warning").style.display = 'block';
        return;
      } else {
        document.getElementById("exam_start_time_warning").style.display = 'none';
      }

      var exam_end_time = document.getElementById("exam_end_time").value;
      if (exam_end_time == "") {
        document.getElementById("exam_end_time_warning").style.display = 'block';
        return;
      } else {
        document.getElementById("exam_end_time_warning").style.display = 'none';
      }

      var passing_score = document.getElementById("passing_score").value;
      if (passing_score == "") {
        document.getElementById("passing_score_warning").style.display = 'block';
        return;
      } else {
        document.getElementById("passing_score_warning").style.display = 'none';
      }

      if (isNaN(passing_score)) {
        document.getElementById("passing_score_number_warning").style.display = 'block';
        return;
      } else {
        document.getElementById("passing_score_number_warning").style.display = 'none';
        if (passing_score == 0 || passing_score == 100) {
          document.getElementById("passing_score_number_limit").style.display = 'block';
          return;
        } else {
          document.getElementById("passing_score_number_limit").style.display = 'none';
        }
      }

      var exam_start_hour = parseInt(exam_start_time.substr(0, 2));
      var exam_start_minutes = parseInt(exam_start_time.substr(3));
      var exam_end_hour = parseInt(exam_end_time.substr(0, 2));
      var exam_end_minutes = parseInt(exam_end_time.substr(3));
      exam_start_minutes += exam_start_hour * 60;
      exam_end_minutes += exam_end_hour * 60;
      var minutes_allowed = exam_end_minutes - exam_start_minutes;

      if (minutes_allowed <= 0) {
        document.getElementById("exam_start_end_time_warning").style.display = 'block';
        return;
      } else {
        document.getElementById("exam_start_end_time_warning").style.display = 'none';
      }

      var exam_status = document.getElementById("exam_status");
      var exam_status_value = exam_status.value;
      var data;
      if (student_guest == "guest") {
        // teacherId = 	10001;
        teacherId = 40001;
        courseId = 599;
      }

      if (submitType == "Created") {
        data = {
          student_guest: student_guest,
          teacher_id: teacherId,
          course_id: courseId,
          description: description,
          section_name: section_name,
          passing_score: passing_score,
          date: exam_date,
          minutes_allowed: minutes_allowed,
          start_time: exam_start_time,
          end_time: exam_end_time,
          exam_status: "Exam Created"
        }

        data = JSON.stringify(data);
        fetch("/admin/create-exam", {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body: data
        }).then(response => {
          if (response.status == 200) {
            window.location.reload();
          }
        })
      } else {
        data = {
          student_guest: student_guest,
          test_id: test_id,
          teacher_id: teacherId,
          course_id: courseId,
          description: description,
          section_name: section_name,
          passing_score: passing_score,
          date: exam_date,
          minutes_allowed: minutes_allowed,
          start_time: exam_start_time,
          end_time: exam_end_time,
          exam_status: exam_status_value
        }
        data = JSON.stringify(data);

        fetch("/admin/edit-exam", {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body: data
        }).then(response => {
          if (response.status == 200) {
            window.location.reload();
          }
        })
      }
    }
    $(document).ready(function () {
      $("#search_date_btn").click(function () {
        var fromDate = document.getElementById("exam_from").value;
        var toDate = document.getElementById("exam_to").value;
        if (fromDate === "" && toDate != null) {
          document.getElementById("filter_date_warning").textContent = "Please choose two date filters";
          document.getElementById("filter_date_warning").style.display = 'block';
        } else if (fromDate != "" && toDate === "") {
          document.getElementById("filter_date_warning").textContent = "Please choose two date filters";
          document.getElementById("filter_date_warning").style.display = 'block';
        } else if (fromDate >= toDate) {
          document.getElementById("filter_date_warning").style.display = 'block';
        } else {
          document.getElementById("filter_date_warning").style.display = 'none';
          window.location.replace("/admin/exam?fromDate=" + fromDate + "&toDate=" + toDate);
        }
      });
    });
  </script>
</head>

<body>
  <div th:replace="@{fragments/nav}"></div>
  <!-- to create exam content start  -->
  <div
    class="create-exam-container min-vh-100 w-100 position-fixed top-0 d-flex justify-content-center align-items-center d-none fadeIn"
    id="Create-ExamContainer"
    style="background-color: rgba(0, 0, 0, 0.4); z-index: 1000; padding-top: 80px; max-height: calc(100vh - 210px); overflow-y: auto;">
    <div class="create-exam-content rounded shadow bg-white">
      <div class="d-flex justify-content-end p-2">
        <div class="d-flex justify-content-center align-items-center bg-danger text-white rounded-circle"
          style="width: 25px; height: 25px; cursor: pointer" id="cancel_btn">
          <i class="fa-solid fa-xmark"></i>
        </div>
      </div>
      <div class="px-3 pb-3">
        <h5 class="text-success text-center mb-3">To Create Exam Content</h5>
        <!--student_guest-->
        <div class="student_guest" id="student_guest_check">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="student-guest" id="student" value="student" checked>
            <label class="form-check-label" for="student">
              Student
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="student-guest" value="guest" id="guest">
            <label class="form-check-label" for="guest">
              Guest
            </label>
          </div>
        </div>

        <script>
          $(document).ready(function () {
            $("#sure_launch_exam").hide();
            $("#sure_launch_exam_M0006").hide();
            $("#sure_launch_exam_M0007").hide();
            $("#launchExam").hide();
            $("#ExamLaunched").hide();

            $("#guest").click(function () {
              $("#teacher_warning").hide();
              $("#teacher_name").hide();
              $("#course_name").hide();
              $("#ExamLaunched").show();
              $("#course_warning").hide();
              $("#teacher_name_label").hide();
              $("#course_name_label").hide();
              console.log(document.querySelector('input[name="student-guest"]:checked').value)

              if (!currentTest.isLaunch) {
                $("#launchExam").show();
                $("#questionCreated").show();
                $("#examCreated").show();
              } else {
                $("#launchExam").hide();
                $("#questionCreated").hide();
                $("#examCreated").hide();

              }

              // $("#teacher_warning").hide(); 
              //  $("#teacher_name").hide();
              //   $("#course_name").hide();
              //  $("#course_warning").hide();
              //  $("#teacher_name_label").hide();
              // $("#course_name_label").hide();
              // console.log(document.querySelector('input[name="student-guest"]:checked').value)
            });

            $("#student").click(function () {

              $("#teacher_name").show();
              $("#course_name").show();
              $("#teacher_warning").show();
              $("#teacher_name_label").show();
              $("#course_name_label").show();
              $("#ExamLaunched").hide();
              $("#launchExam").hide();
              console.log(document.querySelector('input[name="student-guest"]:checked').value)
            });
            $("#launchExam").click(function () {
              $("#sure_launch_exam").show();
            });

          }); 
        </script>
        <!--student_guest-->
        <div class="input-group-sm mb-2 shadow-sm" id="teacher_sector">
          <label id="teacher_name_label" for="description" class="form-label fw-bold mb-1"><small
              style="color: black;">Teacher Name <span class="text-danger">*</span></small></label>
          <select class="form-select" aria-label="Default select example" id="teacher_name">
            <option value="Choose Teacher" selected><small>Choose Teacher</small></option>
            <option th:each="teacher, index: ${teacherList}" th:text="${teacher.userName}" th:id="${teacher.uid}"
              th:value="${teacher.uid}">
            </option>
          </select>
        </div>
        <div style="color: red; font-size: 12px; display: none;" id="teacher_warning">Please Select Teacher</div>
        <div class="input-group-sm mb-2 shadow-sm" id="course_sector">
          <label id="course_name_label" for="description" class="form-label fw-bold mb-1"><small
              style="color: black;">Course Name <span class="text-danger">*</span></small></label>
          <select class="form-select" aria-label="Default select example" id="course_name">
            <option value="Choose Course" selected><small>Choose Course</small></option>
            <!-- <option th:each="course, index: ${courseList}" th:text="${course.courseName}" th:id="${course.courseId}"
              th:value="${course.courseId}"> -->
            </option>
          </select>
        </div>
        <div style="color: red; font-size: 12px; display: none;" id="course_warning">Please Select Course</div>
        <div class="input-group-sm mb-2 shadow-sm">
          <label for="description" class="form-label fw-bold mb-1"><small style="color: black;">Description <span
                class="text-danger">*</span></small></label>
          <input class="form-control" id="description" rows="3" placeholder="Add description about exam"
            required></input>
        </div>
        <div style="color: red; font-size: 12px; display: none;" id="description_warning">Please Add Description</div>
        <div class="input-group-sm mb-2 shadow-sm" style="display: none;" id="exam_status_dropdown">
          <label for="exam_status" class="form-label fw-bold mb-1"><small style="color: black;">Exam Status <span
                class="text-danger">*</span></small></label>
          <select class="form-select" aria-label="Default select example" id="exam_status" required>
            <option id="examCreated" value="Exam Created" selected>Exam Created</option>
            <option id="questionCreated" value="Questions Created">Questions Created</option>
            <option value="Marking">Marking</option>
            <option value="Result Released">Result Released</option>
            <option id="ExamLaunched" value="Exam Launched">Exam Launched</option>
          </select>
        </div>
        <div style="color: red; font-size: 12px; display: none;" id="exam_status_warning">Please Choose Exam Status
        </div>
        <div class="input-group-sm mb-2 shadow-sm">
          <label for="section_name" class="form-label fw-bold mb-1"><small style="color: black;">Section Name <span
                class="text-danger">*</span></small></label>
          <input type="text" class="form-control" id="section_name" placeholder="Add section about exam" required />
        </div>
        <div style="color: red; font-size: 12px; display: none;" id="section_name_warning">Please Add Section Name</div>
        <div class="input-group-sm mb-2 shadow-sm">
          <label for="exam_date" class="form-label fw-bold mb-1"><small style="color: black;">Exam Date <span
                class="text-danger">*</span></small></label>
          <input type="date" class="form-control" id="exam_date" required />
        </div>
        <div style="color: red; font-size: 12px; display: none;" id="exam_date_warning">Please Exam Date</div>
        <div class="d-flex align-items-center">
          <div class="col-6 px-1">
            <div class="input-group-sm mb-2 shadow-sm">
              <label for="exam_start_time" class="form-label fw-bold mb-1"><small style="color: black;">Start Time
                  <span class="text-danger">*</span></small></label>
              <input type="time" class="form-control" id="exam_start_time" required />
            </div>
            <div style="color: red; font-size: 12px; display: none;" id="exam_start_time_warning">Please Add Exam Start
              Time</div>
          </div>
          <div class="col-6 px-1">
            <div class="input-group-sm mb-2 shadow-sm">
              <label for="exam_end_time" class="form-label fw-bold mb-1"><small style="color: black;">End Time <span
                    class="text-danger">*</span></small></label>
              <input type="time" class="form-control" id="exam_end_time" required />
            </div>
            <div style="color: red; font-size: 12px; display: none;" id="exam_end_time_warning">Please Add Exam End Time
            </div>
          </div>
        </div>
        <div style="color: red; font-size: 12px; display: none;" id="exam_start_end_time_warning">End Time Must Be
          Greater Than Start Time
        </div>
        <div class="input-group-sm mb-3 shadow-sm">
          <label for="passing_score" class="form-label fw-bold mb-1"><small style="color: black;">Passing Score <span
                class="text-danger">*</span></small></label>
          <input type="text" class="form-control" id="passing_score" placeholder="Enter minimum passing score"
            required />
        </div>
        <div style="color: red; font-size: 12px; display: none;" id="passing_score_warning">Please Add Minimum Passing
          Score</div>
        <div style="color: red; font-size: 12px; display: none;" id="passing_score_number_warning">Please Add Only
          Number</div>
        <div style="color: red; font-size: 12px; display: none;" id="passing_score_number_limit">Please Add Between 0
          and 100</div>
        <!--M0006(LaunchExam)-->
        <div class="dialog-sure-launch_M0006" id="sure_launch_exam_M0006">
          <div class="dialog-launch_M0006" id="dialog-launch_M0006">
            <i class="fas fa-times close-icon" id="dialog-close-btn-launch_M0006"
              style="color:red;position:absolute;padding:10px;top:0;right:0;font-size:20px;"></i>
            <div class="dialog-content-launch_M0006">
              <i class="fas fa-check-circle" style="font-size: 20px; color:green;"></i>
              <p style="background-color: red;width:fit-content;color:white;">Exam can launch after the Questions are
                Created!</p>
              <div class="launch-Exam-Cancel">
                <input type="button" class="form-control btn btn-sm btn-success" id="launchExamCancel_M0006"
                  style="width: 100px" value="Cancel">
                <input type="button" class="form-control btn btn-sm btn-success" id="launchExamOK_M0006"
                  style="width: 100px" value="OK">
              </div>
            </div>
          </div>
        </div>
        <script>
          const dialogCloseBtnlaunch_M0006 = document.getElementById("dialog-close-btn--launch_M0006");
          $("#dialog-close-btn-launch_M0006").click(function () {
            $("#sure_launch_exam_M0006").hide();

          });
          function closelaunchDialog_M0006() {
            const dialoglaunch_M0006 = document.getElementById("sure_launch_exam_M0006");
            dialoglaunch_M0006.hide();
          }

          function closelaunchDialog_M0006() {
            const dialoglaunch_M0006 = document.getElementById("sure_launch_exam_M0006");
            dialoglaunch_M0006.hide();
          }
        </script>
        <!--sure_launch_cancel_button-->
        <script>
          let surelaunchContainer_M0006 = document.querySelector('.dialog-sure-launch_M0006');
          let launchcancelBtn_M0006 = document.querySelector('#launchExamCancel_M0006');
          launchcancelBtn_M0006.addEventListener('click', () => {
            $("#sure_launch_exam_M0006").hide();
          });
        </script>

        <!--M0006(LaunchExam)-->

        <!--M0007(LaunchExam)-->
        <div class="dialog-sure-launch_M0007" id="sure_launch_exam_M0007">
          <div class="dialog-launch_M0007" id="dialog-launch_M0007">
            <i class="fas fa-times close-icon" id="dialog-close-btn-launch_M0007"
              style="color:red;position:absolute;padding:10px;top:0;right:0;font-size:20px;"></i>
            <div class="dialog-content-launch_M0007">
              <i class="fas fa-check-circle" style="font-size: 20px; color:green;"></i>
              <p style="background-color: red;width:fit-content;color:white;">There is no examinee in this exam, please
                check again.</p>
              <div class="launch-Exam-Cancel">
                <input type="button" class="form-control btn btn-sm btn-success" id="launchExamCancel_M0007"
                  style="width: 100px" value="Cancel">
                <input type="button" class="form-control btn btn-sm btn-success" id="launchExamOK_M0007"
                  style="width: 100px" value="OK">
              </div>
            </div>
          </div>
        </div>
        <script>
          const dialogCloseBtnlaunch_M0007 = document.getElementById("dialog-close-btn--launch_M0007");
          $("#dialog-close-btn-launch_M0007").click(function () {
            $("#sure_launch_exam_M0007").hide();

          });

          function closelaunchDialog_M0007() {
            const dialoglaunch_M0007 = document.getElementById("sure_launch_exam_M0007");
            dialoglaunch_M0007.hide();
          }
          function closelaunchDialog_M0007() {
            const dialoglaunch_M0007 = document.getElementById("sure_launch_exam_M0007");
            dialoglaunch_M0007.hide();
          }
        </script>
        <!--sure_launch_cancel_button-->
        <script>
          let surelaunchContainer_M0007 = document.querySelector('.dialog-sure-launch_M0007');
          let launchcancelBtn_M0007 = document.querySelector('#launchExamCancel_M0007');
          launchcancelBtn_M0007.addEventListener('click', () => {
            $("#sure_launch_exam_M0007").hide();
          });
        </script>
        <!--M0007(LaunchExam)-->
        <!--student-guest-->
        <div class="dialog-sure-launch" id="sure_launch_exam">
          <div class="dialog-launch" id="dialog-launch">
            <i class="fas fa-times close-icon" id="dialog-close-btn-launch"
              style="color:red;position:absolute;padding:10px;top:0;right:0;font-size:20px;"></i>
            <div class="dialog-content-launch">
              <i class="fas fa-check-circle" style="font-size: 20px; color:green;"></i>
              <p style="background-color: red;width:fit-content;color:white;">Are you sure to launch exam?</p>
              <div class="launch-Exam-Cancel">
                <input type="button" class="form-control btn btn-sm btn-success" id="launchExamCancel"
                  style="width: 100px" value="Cancel">
                <input type="button" class="form-control btn btn-sm btn-success" id="launchExamOK " onclick=launchExam()
                  name="launchExamOK" style="width: 100px" value="OK">
              </div>
            </div>
          </div>
        </div>
        <script>
          const dialogCloseBtnlaunch = document.getElementById("dialog-close-btn--launch");
          $("#dialog-close-btn-launch").click(function () {
            $("#sure_launch_exam").hide();
          });
          function closelaunchDialog() {
            const dialoglaunch = document.getElementById("sure_launch_exam");
            dialoglaunch.hide();
          }
        </script>
        <!--sure_launch_cancel_button-->
        <script>
          let surelaunchContainer = document.querySelector('.dialog-sure-launch');
          let launchcancelBtn = document.querySelector('#launchExamCancel');
          launchcancelBtn.addEventListener('click', () => {
            $("#sure_launch_exam").hide();
          });
        </script>
        <!--beginning of launch button-->
        <div class="launch-exam">
          <input type="button" class="form-control btn btn-sm btn-success" name="launchExam" id="launchExam"
            style="width: 100px" value="Launch Exam">
        </div>
        <div class="input-group-sm text-end">
          <input type="submit" class="form-control btn btn-sm btn-success" id="submit" style="width: 100px" />
        </div>
      </div>
    </div>
  </div>
  <!-- to create exam content end  -->

  <div
    class="delete-exam-container min-vh-100 w-100 position-fixed top-0 d-flex justify-content-center align-items-center d-none fadeIn"
    style="background-color: rgba(0, 0, 0, 0.4); z-index: 1000; padding-top: 80px;">
    <div class="create-exam-content rounded shadow bg-white">
      <div class="d-flex justify-content-end p-2">
        <div class="d-flex justify-content-center align-items-center bg-danger text-white rounded-circle"
          style="width: 25px; height: 25px; cursor: pointer" id="delete_cancel_btn">
          <i class="fa-solid fa-xmark"></i>
        </div>
      </div>
      <div class="px-3 pb-3">
        <h5 class="text-success text-center mb-3">Are You Sure Want To Delete?</h5>
        <div class="input-group-sm text-end">
          <input type="submit" class="form-control btn btn-sm btn-success" id="deleteSubmit" style="width: 100px" />
        </div>
      </div>
    </div>
  </div>

  <section class="main container mt-3">

    <!-- to add filter start  -->
    <div class="mt-4" style="padding-top: 60px;">
      <form action="">
        <div class="d-flex flex-wrap align-items-end justify-content-between">
          <div class="">
            <label for="exam_from" class="fw-bold"><small>Exam From</small></label><br>
            <input type="date" class="px-3 rounded shadow-sm border-1" id="exam_from">
          </div>
          <div class="">
            <label for="exam_to" class="fw-bold"><small>Exam To</small></label><br>
            <input type="date" class="px-3 rounded shadow-sm border-1" id="exam_to">
          </div>
          <select name="status" id="filterbystatus" class="px-3 rounded shadow-sm">
            <option value="Filter By Exam Status" selected><small>Search By Exam Status</small></option>
            <option value="Exam Created"><small>Exam Created</small></option>
            <option value="Questions Created"><small>Questions Created</small></option>
            <option value="Marking"><small>Marking</small></option>
            <option value="Result Released"><small>Result Released</small></option>
            <option value="Deleted"><small>Deleted</small></option>
            <option value="LaunchExam"><small>Exam Launched</small></option>
          </select>

          <div class="" style="display: none;" id="teacher_dropdown_main">
            <select name="course" id="filterbyteacher" class="px-3 rounded shadow-sm">
              <option value="Filter By Course" selected><small>Filter By Teacher</small></option>
              <option th:each="teacher, index: ${teacherList}" th:text="${teacher.userName}" th:id="${teacher.uid}">
            </select>
          </div>
          <div class="">
            <select name="course" id="filterbycourse" class="px-3 rounded shadow-sm">
              <option value="Filter By Course" selected><small>Filter By Course</small></option>
              <option th:each="course, index: ${courseList}" th:text="${course.courseName}" th:id="${course.courseId}">
            </select>
            <input type="reset" class="ms-2 border-0 rounded bg-success text-white px-2" value="Clear Filter"
              id="clearFilter">
          </div>
        </div>
      </form>
    </div>

    <div style="margin-top: 10px;margin-left: 250px;">
      <small class="bg-success rounded text-white px-2 py-1 fw-bold" style="cursor: pointer" id="search_date_btn">Search
        Date</small>
    </div>
    <div style="color: red; font-size: 12px; display: none; padding-top: 10px;" id="filter_date_warning">End Date Must
      Be Greater Than Start Date</div>
    <div class="text-center mt-3">
      <div class="">
        <small class="fw-bold me-2">
          <span th:text="${filterType}"></span>
          <span th:text="${filter}"></span>
        </small>
      </div>
    </div>

    <div class="text-end mt-3">
      <div class="">
        <small class="fw-bold me-2"><span th:text="${testList.size}"></span> exams found</small>
        <small class="bg-success rounded text-white px-2 py-1 fw-bold" style="cursor: pointer" id="create_exam">Create
          Exam</small>
      </div>
    </div>

    <div class="exam-list mt-2" style="padding-bottom: 50px;">
      <div class="row">
        <div class="col-12 col-lg-4" th:each="test, index:${testList}">
          <div class="card bg-white mt-3 shadow-sm" data-custom-type="result_good">
            <div class="d-flex justify-content-end align-items-center p-2">
              <div th:unless="${#strings.contains(test.isDelete, 'true')}">
                <i class="fa-solid fa-pen-to-square text-success" style="cursor: pointer"
                  th:onclick="setDataToEditDialog([[${test}]]);"></i>
              </div>
              <div th:unless="${#strings.contains(test.isDelete, 'true')}"
                class="d-flex justify-content-center align-items-center bg-danger text-white rounded-circle ms-2"
                style="width: 20px; height: 20px; cursor: pointer" id="">
                <i class="fa-solid fa-xmark" th:onclick="setDataToDeleteDialog([[${test}]]);"></i>
              </div>
              <div th:if="${#strings.contains(test.isDelete, 'true')}">
                <button
                  class="d-flex justify-content-center align-items-center bg-success text-white rounded-circle ms-2"
                  style="width: 20px; height: 20px; cursor: pointer"
                  th:onclick="'confirmRestoreExam(\'' + ${test.test_id} + '\')'">
                  <i class="bi bi-arrow-clockwise"></i>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z" />
                    <path
                      d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z" />
                  </svg>
                </button>
              </div>

              <script>
                function confirmRestoreExam(testId) {
                  console.log('testId: ' + testId);
                  Swal.fire({
                    title: 'Are you sure you want to restore the deleted exam?',
                    showCancelButton: true,
                    confirmButtonText: 'Submit',
                    cancelButtonText: 'Cancel',
                    icon: 'question'
                  }).then((result) => {
                    if (result.isConfirmed) {
                      fetch("/admin/delete-exam?test_id=" + testId, {
                        method: "GET",
                        headers: {
                          "Content-Type": "application/json"
                        }
                      }).then(response => {
                        if (response.status == 200) {
                          window.location.reload();
                        }
                      });
                    }
                  });
                }
              </script>
            </div>
            <div class="card-body pt-0 rounded">
              <div class="fw-bolder">
                <span class="text-success" th:text="${index.count}"></span>
                <span th:text="${test.description}"></span>
                ( <span th:text="${test.exam_status}"></span> )
              </div>
              <div class="d-flex justify-content-between align-items-center mt-3 fw-bold">
                <small th:text="${test.courseInfo.courseName}"></small>
                <div>
                  ( <small th:text="${test.section_name}"></small> )
                </div>
              </div>
              <div class="fw-bold">
                <small th:text="${test.userInfo.userName}"></small>
              </div>
              <div class="d-flex justify-content-between align-items-center fw-bold">
                <div>
                  <small class="text-success" th:text="${test.passing_score_percent}"></small>%
                </div>
                <div>
                  <small th:text="${test.minutes_allowed}"></small> minutes
                </div>
              </div>
              <div class="text-muted fw-bold">
                <small th:text="${#dates.format(test.date, 'yyyy-MM-dd')}"></small>
                ( <small th:text="${test.start_time}"></small> - <small th:text="${test.end_time}"></small> )
              </div>
              <div class="d-flex flex-wrap justify-content-between align-items-center fw-bold mt-3">
                <small class=""><a th:href="'/admin/exam/' + ${test.test_id} + '/questions'" class="text-success">Exam
                    Questions</a></small>
                <small class="">
                  <span th:if="${test.exam_target == 0}">
                    <a th:href="'/admin/exam/' + ${test.test_id} + '/examinee'" class="text-success">Set Examinee</a>
                  </span>
                  <span th:if="${test.exam_target == 1}">
                    <a th:href="'/admin/exam/' + ${test.test_id} + '/guest/examinee'" class="text-success">Set
                      Examinee</a>
                  </span>
                </small>
                <small class=""><a th:href="'/admin/exam/' + ${test.test_id} + '/exam-result-list'"
                    class="text-success">Exam
                    Result</a></small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script th:src="@{/js/main.js}"></script>
  <!--student-guest-->
  <script>
    const dialogCloseBtn = document.getElementById("dialog-close-btn");
    $("#dialog-close-btn").click(function () {
      closeDialog();
    });
    function closeDialog() {
      const dialog = document.getElementById("dialog");
      dialog.style.visibility = "hidden";
    }
  </script>
</body>
<div th:replace="@{fragments/footer}"></div>

</html>