<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extrasspringsecurity4">

<head>
    <meta charset="utf-8">
    <!-- <link rel="shortcut icon" type="image/ico" href="http://www.datatables.net/favicon.ico"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, user-scalable=no">
    <title>Mapping Site</title>
    <!-- <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css}">
    <!-- <link rel="stylesheet" type="text/css" href="css/dataTables.bootstrap5.css">
    <link rel="stylesheet" type="text/css" href="css/shCore.css">
    <link rel="stylesheet" type="text/css" href="css/demo.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="css/dataTableManual.css">
    <link rel="stylesheet" type="text/css" href="css/dataTableSCSSMaual.css"> -->
    
    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <title>Mapping Site</title>

    <script type="text/javascript">
        $(document).ready(function() {
            
            $("#noCheck").prop("checked", true);

            
            var checkbox = $("#yesCheck");
            var hidden = $("#iflive");
            // var hidden2 = $("#datepicker10");
            hidden.hide();
            // hidden1.hide();
            // hidden2.hide();
            checkbox.change(function() {
                if (checkbox.is(':checked')) {
                hidden.show();
                // hidden2.show();
                $('#datepicker9').prop('required', true); //to add required
                $('#datepicker10').prop('required', true);
                } else {
                hidden.hide();
                // $("#username").val("");
                $('#datepicker9').prop('required', false); //to remove required
                $('#datepicker10').prop('required', false);
                }
            });

            // $("#datepicker9").datepicker({
            //     format: 'dd-mm-yyyy',
            //     autoclose: true,
            // }).on('changeDate', function (selected) {
            //     var minDate = new Date(selected.date.valueOf());
            //     $('#datepicker10').datepicker('setStartDate', minDate);
            // });

            // $("#datepicker10").datepicker({
            //     format: 'dd-mm-yyyy',
            //     autoclose: true,
            // }).on('changeDate', function (selected) {
            //         var minDate = new Date(selected.date.valueOf());
            //         $('#datepicker9').datepicker('setEndDate', minDate);
            // });

            // $("#datepicker9, #datepicker10").datepicker();

            // $("#datepicker10").change(function () {
            //     var startDate = document.getElementById("datepicker9").value;
            //     var endDate = document.getElementById("datepicker10").value;
            
            //     if ((Date.parse(endDate) <= Date.parse(startDate))) {
            //         alert("End date should be greater than Start date");
            //         document.getElementById("datepicker10").value = "";
            //     }
            // });

        });
    
        // function compareDate() {
        //     var str = document.getElementById("datepicker9").value;
        //     var end = document.getElementById("datepicker10").value;
        //     var year = str.substring(0,4);
        //     var month = str.substring(5,7);
        //     var date = str.substring(8,10);
        //     var endYear = end.substring(0,4);
        //     var endMonth = end.substring(5,7);
        //     var endDate = end.substring(8,10);
        //     var startDate = new Date(year, month-1, date);
        //     var endDate = new Date(endYear, endMonth-1, endDate);

        //     if (startDate > endDate) {
        //     alert('start date should be less than end date');
        //     return false;
        //     } 
        //     else { return true; }
        // }

        // $(function() {
        //     var checkbox = $("#yesCheck");
        //     var hidden = $("#iflive");
        //     // var hidden2 = $("#datepicker10");
        //     hidden.hide();
        //     // hidden1.hide();
        //     // hidden2.hide();
        //     checkbox.change(function() {
        //         if (checkbox.is(':checked')) {
        //         hidden.show();
        //         // hidden2.show();
        //         $('#datepicker9').prop('required', true); //to add required
        //         $('#datepicker10').prop('required', true);
        //         } else {
        //         hidden.hide();
        //         // $("#username").val("");
        //         $('#datepicker9').prop('required', false); //to remove required
        //         $('#datepicker10').prop('required', false);
        //         }
        //     });
        // });

        // $('input[type=radio][name=yesno]').on('change', function() {
        //     switch ($(this).val()) {
        //         case 'live':
        //         alert("Allot Thai Gayo Bhai");
        //         // $("#datepicker9").prop('required', true);
        //         // $("#datepicker10").prop('required', true);
        //         break;
        //         case 'video':
        //         alert("Transfer Thai Gayo");
        //         // $("#datepicker9").prop('required', false);
        //         // $("#datepicker10").prop('required', false);
        //         break;
        //     }
        // });
    
        function yesnoCheck() {
            if (document.getElementById('yesCheck').checked) {
                document.getElementById('iflive').style.display = 'block';
                document.getElementById('ifvideo').style.display = 'none';
                // document.getElementById("datepicker9").required = true;
                // document.getElementById("datepicker10").required = true;
                // $("#datepicker9").prop('required', true);
                // $("#datepicker10").prop('required', true);
                

            } else {
                document.getElementById('iflive').style.display = 'none';
                document.getElementById('ifvideo').style.display = 'block';
                // document.getElementById("datepicker9").required = false;
                // document.getElementById("datepicker10").required = false;
                // $("#datepicker9").prop('required', false);
                // $("#datepicker10").prop('required', false);
            }

        }

        // $(function() {
        //     $("#datepicker9").datepicker({
        //         dateFormat: "yy-mm-dd",
        //         numberOfMonths: 2,
        //         onSelect: function(selected) {
        //             var dt = new Date(selected);
        //             dt.setDate(dt.getDate() + 1);
        //             $("#datepicker10").datepicker("option", "minDate", dt);
        //         }
        //     });
        //     $("#datepicker10").datepicker({
        //         dateFormat: "yy-mm-dd",
        //         numberOfMonths: 2,
        //         onSelect: function(selected) {
        //             var dt = new Date(selected);
        //             dt.setDate(dt.getDate() - 1);
        //             $("#datepicker9").datepicker("option", "maxDate", dt);
        //         }
        //     });
        // });

        // $('#datepicker9').datepicker({
        //     onSelect: function(dateText, inst){
        //         $('#datepicker10').datepicker('option', 'minDate', new Date(dateText));
        //     },
        // });

        // $('#datepicker10').datepicker({
        //     onSelect: function(dateText, inst){
        //         $('#datepicker9').datepicker('option', 'maxDate', new Date(dateText));
        //     }
        // });

        // $("#datepicker10").change(function () {
        //     var startDate = document.getElementById("datepicker9").value;
        //     var endDate = document.getElementById("datepicker10").value;

        //     if ((Date.parse(endDate) <= Date.parse(startDate))) {
        //         alert("End date should be greater than Start date");
        //         document.getElementById("datepicker10").value = "";
        //     }
        // });

        // set default dates
        // var start = new Date();
        // // set end date to max one year period:
        // var end = new Date(new Date().setYear(start.getFullYear()+1));

        // $('#datepicker9').datepicker({
        //     startDate : start,
        //     endDate   : end
        // // update "toDate" defaults whenever "fromDate" changes
        // }).on('changeDate', function(){
        //     // set the "toDate" start to not be later than "fromDate" ends:
        //     $('#toDate').datepicker('setStartDate', new Date($(this).val()));
        // }); 

        // $('#datepicker10').datepicker({
        //     startDate : start,
        //     endDate   : end
        // // update "fromDate" defaults whenever "toDate" changes
        // }).on('changeDate', function(){
        //     // set the "fromDate" end to not be later than "toDate" starts:
        //     $('#fromDate').datepicker('setEndDate', new Date($(this).val()));
        // });

        

    </script>

    <style>
        label{
            font-weight: bold;
        }
        .studentListHeader{
            
            color: #000;
            font-weight: bold;
            font-size: 20px;
        }
        /* .btn-primary,
        .btn-primary:hover,
        .btn-primary:active,
        .btn-primary:visited {
            background-color: #7749F8 !important;
        } */
    </style>
</head>
</html>
<body>
    <div th:replace="${nav_type}"></div>
    
    <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>'">
        <ol class="breadcrumb">
            <th:block th:each="bc : ${breadcrumbList}">
            <!-- TODO change last route color -->
            <li class="breadcrumb-item"><a th:href="@{/}" th:utext="${bc}" style="text-decoration: none;"></a></li> 
            <!-- <li class="breadcrumb-item active"><a href="#" th:utext="${state.last}"></a></li> -->
            </th:block>
        </ol>
    </nav>

    <div class="card mx-auto p-3 mt-3" style="max-width: 800px;">
        <div class="text-center studentListHeader">
          Course Registration
        </div>
        <hr class="py-1">
        <div>
            <form th:action="@{${postAction}}" method="post">
                <div th:object="${course}">
                    <div class="row form-sec-header">
                        <div class="col-lg-12 text-center">
                            <p></p>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-lg-1"></div>
                        <label for="classtype" class="col-lg-3 col-form-label">Class Type</label>

                        <div class="col-auto p-2">
                            <div class="form-check form-check-inline">
                                <input type="radio" onclick="javascript:yesnoCheck();" name="yesno" id="yesCheck" value="live" th:field="*{classType}">

                                <label>Live</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" onclick="javascript:yesnoCheck();" name="yesno" id="noCheck" value="video" th:field="*{classType}">
                                <label>Video</label>
                            </div>
                        </div>
                    </div>


                    <div class="mb-3">
                        <label class="form-label" for="cname">Course Name</label>

                        <input th:field="*{courseName}" th:classappend="${#fields.hasErrors('courseName')}?'is-invalid':''"  class="form-control" id="cname" type="text" placeholder="Enter Course Name" required/>
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('courseName')}" th:errors="*{courseName}">This field is required.</div>
                    </div>


                    <div class="mb-3">
                        <label class="form-label" for="ccategory">Course Category</label>
                        <select name="ccategory" th:field="*{category}" class="form-select" required>
                            <option value="" selected="selected">Select Category</option>
                            <option value="Business">Business</option>
                            <option value="Engineering & Construction">Engineering & Construction</option>
                            <option value="Health">Health</option>
                            <option value="IT">IT</option>
                            <option value="Language">Language</option>
                            <option value="Management">Management</option>
                            <option value="Personal Development">Personal Development</option>
                            <option value="Sales & Marketing">Sales & Marketing</option>
                            <option value="Teaching & Academics">Teaching & Academics</option>
                        </select>
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('category')}" th:errors="*{category}">
                            This field is required.
                        </div>
                    </div>


                    <div class="mb-3">
                        <label class="form-label" for="clevel">Course Level</label>

                        <input th:field="*{level}" th:classappend="${#fields.hasErrors('level')}?'is-invalid':''" class="form-control" id="clevel" type="text" placeholder="Enter Course Level(For example : Japanese Basic)" required/>
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('level')}" th:errors="*{level}">This field is required.</div>
                    </div>





                    <div class="mb-3">
                        <label class="form-label" for="cfee">Course Fee</label>

                        <input th:field="*{fees}" th:classappend="${#fields.hasErrors('fees')}?'is-invalid':''" class="form-control" id="cfee" type="text" placeholder="Enter Course Fee(Kyats)" required/>
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('fees')}" th:errors="*{fees}">This field is required.</div>
                    </div>
                    
                    <div class="mb-3">
                        <label class="form-label" for="cabout">About Course</label>

                        <textarea th:field="*{aboutCourse}" th:classappend="${#fields.hasErrors('aboutCourse')}?'is-invalid':''" class="form-control" id="cabout" type="text" placeholder="Enter detail about your course here." required></textarea>
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('aboutCourse')}" th:errors="*{aboutCourse}">This field is required.</div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="cprerequisites">Prerequisites</label>

                        <textarea th:field="*{prerequisite}" th:classappend="${#fields.hasErrors('prerequisite')}?'is-invalid':''" class="form-control" id="cprequisites" type="text" placeholder="Enter Prerequisites for the course."></textarea>
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('prerequisite')}" th:errors="*{prerequisite}">This field is required.</div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="cclasslink">Class Link</label>

                        <input th:field="*{classLink}" th:classappend="${#fields.hasErrors('classLink')}?'is-invalid':''" class="form-control" id="cclasslink" type="text" placeholder="Enter Class Link(Video link or Live link)" />
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('classLink')}" th:errors="*{classLink}">This field is required.</div>
                    </div>
                    <input type="hidden" class="form-control" id="teacherid" th:field="*{uid}" style="border: none transparent;" readonly></input>
                </div>
                
                

                <div id="iflive" style="display: none;">
                    <div th:object="${course}">
                        <div class="mb-3">
                            <label class="form-label" for="maxStu">Student Numbers</label>

                            <input th:field="*{maxStu}" th:classappend="${#fields.hasErrors('maxStu')}?'is-invalid':''" class="form-control" id="maxStu" type="text" placeholder="Enter the number of students">
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('maxStu')}" th:errors="*{maxStu}">This field is required.</div>
                        </div>
                        <div class="form-group row"></div>
                        <div class="form-group row mb-3">
                            <div class="col-lg-1"></div>
                            <label for="about" class="col-lg-2 col-form-label">Start Date</label>
                
                            <div class="col-lg-3">
                              <!-- <input id="datepicker9" class="form-control" placeholder="yyyy-mm-dd"> -->
                              <input type="date" id="datepicker9" th:field="*{startDate}" class="form-control" placeholder="dd-mm-yyy">
                
                            </div>
                            <label for="date" class="col-lg-2 col-form-label">End Date</label>
                
                            <div class="col-lg-3">
                              <!-- <input id="datepicker10" class="form-control" placeholder="yyyy-mm-dd"> -->
                              <input type="date" id="datepicker10" th:field="*{endDate}" class="form-control" placeholder="dd-mm-yyy">
                
                
                            </div>
                
                          </div>
                    </div>


                    <div class="form-group row">
                        <div class="col-lg-1"></div>
                        <label class="col-lg-3 col-form-label">Choose Date and Time</label>
                    </div>


                    <div class="form-group row mb-3">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-3">
                            <input type="checkbox" value="Monday" th:name="day0">
                            <label class="col-form-label">Monday</label>
                        </div>

                        <div class="col-lg-8 row">
                            <div class="col-lg-4">
                                <label for="time">From</label>

                                <input type="time" th:name="startTime0" id="startTime0" class="form-control" />


                            </div>
                            <div class="col-lg-1"></div>
                            <div class="col-lg-4">
                                <label for="time">To</label>
                                <input type="time" th:name="endTime0" id="endTime0"  class="form-control" />

                            </div>
                        </div>
                    </div>



                    <div class="form-group row mb-3">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-3">
                            <input type="checkbox" value="Tuesday" th:name="day1">
                            <label class="col-form-label">Tuesday</label>
                        </div>

                        <div class="col-lg-8 row">
                            <div class="col-lg-4">
                                <label for="time">From</label>
                                <input type="time" th:name="startTime1" id="startTime1" class="form-control" />

                            </div>
                            <div class="col-lg-1"></div>
                            <div class="col-lg-4">
                                <label for="time">To</label>
                                <input type="time" th:name="endTime1" id="endTime1" class="form-control" />

                            </div>
                        </div>
                    </div>



                    <div class="form-group row mb-3">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-3">
                            <input type="checkbox" value="Wednesday" th:name="day2">
                            <label class="col-form-label">Wednesday</label>
                        </div>

                        <div class="col-lg-8 row">
                            <div class="col-lg-4">
                                <label for="time">From</label>
                                <input type="time" th:name="startTime2" id="startTime2" class="form-control" />

                            </div>
                            <div class="col-lg-1"></div>
                            <div class="col-lg-4">
                                <label for="time">To</label>
                                <input type="time" th:name="endTime2" id="endTime2" class="form-control" />

                            </div>
                        </div>
                    </div>

                    <div class="form-group row mb-3">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-3">
                            <input type="checkbox" value="Thursday" th:name="day3">
                            <label class="col-form-label">Thursday</label>
                        </div>

                        <div class="col-lg-8 row">
                            <div class="col-lg-4">
                                <label for="time">From</label>
                                <input type="time" th:name="startTime3" id="startTime3" class="form-control" />

                            </div>
                            <div class="col-lg-1"></div>
                            <div class="col-lg-4">
                                <label for="time">To</label>
                                <input type="time" th:name="endTime3" id="endTime3" class="form-control" />

                            </div>
                        </div>
                    </div>

                    <div class="form-group row mb-3">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-3">
                            <input type="checkbox" value="Friday" th:name="day4">
                            <label class="col-form-label">Friday</label>
                        </div>

                        <div class="col-lg-8 row">
                            <div class="col-lg-4">
                                <label for="time">From</label>
                                <input type="time" th:name="startTime4" id="startTime4" class="form-control" />

                            </div>
                            <div class="col-lg-1"></div>
                            <div class="col-lg-4">
                                <label for="time">To</label>
                                <input type="time" th:name="endTime4" id="endTime4" class="form-control" />

                            </div>
                        </div>
                    </div>

                    <div class="form-group row mb-3">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-3">
                            <input type="checkbox" value="Saturday" th:name="day5">
                            <label class="col-form-label">Saturday</label>
                        </div>

                        <div class="col-lg-8 row">
                            <div class="col-lg-4">
                                <label for="time">From</label>
                                <input type="time" th:name="startTime5" id="startTime5" class="form-control" />

                            </div>
                            <div class="col-lg-1"></div>
                            <div class="col-lg-4">
                                <label for="time">To</label>
                                <input type="time" th:name="endTime5" id="endTime5" class="form-control" />

                            </div>
                        </div>
                    </div>

                    <div class="form-group row mb-3">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-3">
                            <input type="checkbox" value="Sunday" th:name="day6">
                            <label class="col-form-label">Sunday</label>
                        </div>

                        <div class="col-lg-8 row">
                            <div class="col-lg-4">
                                <label for="time">From</label>
                                <input type="time" th:name="startTime6" id="startTime6" class="form-control" />

                            </div>
                            <div class="col-lg-1"></div>
                            <div class="col-lg-4">
                                <label for="time">To</label>
                                <input type="time" th:name="endTime6" id="endTime6" class="form-control" />

                            </div>
                        </div>
                    </div>



                    <div class="input_fields_wrap">
                    </div>
                </div>


                <div class="d-grid gap-2 d-flex justify-content-around buttons">
                        <button id="btnReset" type="reset" class="btn btn-spacing btn-secondary center-block btnSubmit" Style="width: 100px;" OnClick="btnClear_Click">Reset</button>
                    
                    
                        <button id="btnReg" class="btn btn-spacing btn-primary center-block" Style="width: 150px;" onclick="return btnRegister_Click()">Register</button>
                </div>
                <div class="form-group row"></div>
            </form>
        </div>
    </div>

    <div th:replace="fragments/footer"></div>

        <script>
           function btnRegister_Click() {
            
                // $("#datepicker9").prop('required', true);
                // $("#datepicker10").prop('required', true);

            var startDate = $('#datepicker9').val();   
            var endDate   = $('#datepicker10').val();
            if(startDate > endDate){
            alert("Start date must be later than end date");
            return false;
            }

            for (i = 0; i < 7; i++){
                var startTime=$('#startTime'+i).val();
                var endTime=$('#endTime'+i).val();

                st = minFromMidnight(startTime);
                et = minFromMidnight(endTime);
                if(st>et){
                alert("Start time must be later than end time");
                return false;
                }
    
                function minFromMidnight(tm){
                var ampm= tm.substr(-2)
                var clk = tm.substr(0, 5);
                var m  = parseInt(clk.match(/\d+$/)[0], 10);
                var h  = parseInt(clk.match(/^\d+/)[0], 10);
                h += (ampm.match(/pm/i))? 12: 0;
                return h*60+m;
                }  
            }
        }

            // $("#time1").timepicker()({
            //     pickTime: false
            // });
            // $("#time2").timepicker()({
            //     pickTime: false
            // });
            // $("#time3").timepicker()({
            //     pickTime: false
            // });
            // $("#time4").timepicker()({
            //     pickTime: false
            // });
            // $("#time5").timepicker()({
            //     pickTime: false
            // });
            // $("#time6").timepicker()({
            //     pickTime: false
            // });
            // $("#time7").timepicker()({
            //     pickTime: false
            // });
            // $("#time8").timepicker()({
            //     pickTime: false
            // });
            // $("#time9").timepicker()({
            //     pickTime: false
            // });
            // $("#time10").timepicker()({
            //     pickTime: false
            // });
            // $("#time11").timepicker()({
            //     pickTime: false
            // });
            // $("#time12").timepicker()({
            //     pickTime: false
            // });
            // $("#time13").timepicker()({
            //     pickTime: false
            // });
            // $("#time14").timepicker()({
            //     pickTime: false
            // });
            
            $("input").on("click", function() {
                $("#log").html($("input:checked").val() + " is checked!");
            });

            $('input[type="checkbox"]').click(function() {
            if (!this.checked) {
                $(this).closest('div').nextAll('div').find('input').attr('disabled', true);
            } else {
                $(this).closest('div').nextAll('div').find('input').attr('disabled', false);
            }
        });
      </script>
</body>
</html>