<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extrasspringsecurity4">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" th:href="@{/css/global.css}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="css/shCore.css" th:href="@{/css/shCore.css}" />
  <link rel="stylesheet" type="text/css" href="css/demo.css" th:href="@{/css/demo.css}" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
    crossorigin="anonymous"></script>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
  <script src="https://unpkg.com/gijgo@1.9.14/js/gijgo.min.js" type="text/javascript"></script>
  <link href="https://unpkg.com/gijgo@1.9.14/css/gijgo.min.css" rel="stylesheet" type="text/css" />

  <title>Pyinnyar Subuu</title>

  <link rel="icon" type="image/x-icon" href="/images/fav.png" />

  <script type="text/javascript" language="javascript" src="js/shCore.js" th:src="@{/js/shCore.js}"></script>
  <script type="text/javascript" language="javascript" src="js/demo.js" th:src="@{/js/demo.js}"></script>

  <script type="text/javascript" language="javascript">
    var currentCourse;
    var examDescription;
    var sectionName;
    var passingScore;
    var examDate;
    var examStartTime;
    var examEndTime;
    var startTimeArray;
    var examStartHour;
    var examStartMinute;
    var endTimeArray;
    var examEndHour;
    var examEndMinute;
    var examAllowedMinutes;
    var currentTestID;
    var currentExamStatus;
    $('#createExamContent').on('shown.bs.modal', function () {
      $('#createExamContent').trigger('focus')
    })

    function setCourse(courseId, courseName) {
      currentCourse = courseId;
      document.getElementById("courseDropDown").innerHTML = courseName;
    };

    function editCourse(courseId, courseName) {
      currentCourse = courseId;
      document.getElementById("editCourseDropDown").innerHTML = courseName;
    };

    function setExamStatus(examStatus) {
      document.getElementById("examStatus").innerHTML = examStatus;
    }

    function editExamstatus(status) {
      currentExamStatus = status;
      document.getElementById("editExamStatus").innerHTML = status;
    }

    function setDataToEditDialog(test) {
      currentTestID = test.test_id;
      currentCourseID = test.courseInfo.courseId;
      document.getElementById("editCourseDropDown").innerHTML = test.courseInfo.courseName;
      document.getElementById("editExamDescription").value = test.description;
      document.getElementById("editSectionName").value = test.section_name;
      document.getElementById("editExamDate").value = test.date;
      var startAmOrPm = test.start_time.slice(-2);
      var endAmOrPm = test.end_time.slice(-2);
      var startTimeOnly = test.start_time.substring(0, test.start_time.length - 2);
      var endTimeOnly = test.end_time.substring(0, test.end_time.length - 2);

      var editStartTimeArray = startTimeOnly.split(":");
      var editExamStartHour = parseInt(editStartTimeArray[0]);
      var editExamStartMinute = editStartTimeArray[1];
      if (startAmOrPm == "pm") {
        editExamStartHour = editExamStartHour + 12;
      }
      var editExamStartTime = editExamStartHour + ":" + editExamStartMinute;

      var editEndTimeArray = endTimeOnly.split(":");
      var editExamEndHour = parseInt(editEndTimeArray[0]);
      var editExamEndMinute = editEndTimeArray[1];
      if (endAmOrPm == "pm") {
        editExamEndHour = editExamEndHour + 12;
      }
      var editExamEndTime = editExamEndHour + ":" + editExamEndMinute;

      document.getElementById("editExamStatus").innerHTML = test.exam_status;
      document.getElementById("editExamStartTime").value = editExamStartTime;
      document.getElementById("editExamEndTime").value = editExamEndTime;
      document.getElementById("editPassingScore").value = test.passing_score_percent;
    }

    $(document).ready(function () {
      $("#submitExam").click(function () {
        currentCourseID = currentCourse;
        examDescription = document.getElementById("examDescription").value;
        sectionName = document.getElementById("sectionName").value;
        passingScore = document.getElementById("passingScore").value;
        examDate = document.getElementById("examDate").value;
        examStartTime = document.getElementById("examStartTime").value;
        examEndTime = document.getElementById("examEndTime").value;
        startTimeArray = examStartTime.split(":");
        examStartHour = parseInt(startTimeArray[0]);
        examStartMinute = parseInt(startTimeArray[1]);
        endTimeArray = examEndTime.split(":");
        examEndHour = parseInt(endTimeArray[0]);
        examEndMinute = parseInt(endTimeArray[1]);

        if (examEndMinute < examStartMinute) {
          examEndHour = examEndHour - 1;
          examEndMinute += 60;
        }
        examAllowedMinutes = (examEndHour - examStartHour) * 60 + (examEndMinute - examStartMinute)

        if (examStartHour > 12) {
          examStartTime = (startTimeArray[0] - 12) + ":" + startTimeArray[1] + "pm"
        } else {
          examStartTime = startTimeArray[0] + ":" + startTimeArray[1] + "am"
        }

        if (parseInt(endTimeArray[0]) > 12) {
          examEndTime = (parseInt(endTimeArray[0]) - 12) + ":" + endTimeArray[1] + "pm"
        } else {
          examEndTime = endTimeArray[0] + ":" + endTimeArray[1] + "am"
        }

        var data = {
          course_id: currentCourseID,
          description: examDescription,
          section_name: sectionName,
          passing_score: passingScore,
          date: examDate,
          minutes_allowed: examAllowedMinutes,
          start_time: examStartTime,
          end_time: examEndTime,
          exam_status: "Exam Created"
        }

        var data = JSON.stringify(data);

        fetch("/teacher/create-exam", {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body: data
        }).then(response => {
          if (response.status == 200) {
            window.location.reload();
          }
        })
      })

      $("#updateExam").click(function () {
        examDescription = document.getElementById("editExamDescription").value;
        sectionName = document.getElementById("editSectionName").value;
        passingScore = document.getElementById("editPassingScore").value;
        examDate = document.getElementById("editExamDate").value;
        examStartTime = document.getElementById("editExamStartTime").value;
        examEndTime = document.getElementById("editExamEndTime").value;
        currentExamStatus = document.getElementById("editExamStatus").innerHTML;

        startTimeArray = examStartTime.split(":");
        examStartHour = parseInt(startTimeArray[0]);
        examStartMinute = parseInt(startTimeArray[1]);
        endTimeArray = examEndTime.split(":");
        examEndHour = parseInt(endTimeArray[0]);
        examEndMinute = parseInt(endTimeArray[1]);

        if (examEndMinute < examStartMinute) {
          examEndHour = examEndHour - 1;
          examEndMinute += 60;
        }
        examAllowedMinutes = (examEndHour - examStartHour) * 60 + (examEndMinute - examStartMinute)

        if (examStartHour > 12) {
          examStartTime = (startTimeArray[0] - 12) + ":" + startTimeArray[1] + "pm"
        } else {
          examStartTime = startTimeArray[0] + ":" + startTimeArray[1] + "am"
        }

        if (parseInt(endTimeArray[0]) > 12) {
          examEndTime = (parseInt(endTimeArray[0]) - 12) + ":" + endTimeArray[1] + "pm"
        } else {
          examEndTime = endTimeArray[0] + ":" + endTimeArray[1] + "am"
        }
        var data = {
          test_id: currentTestID,
          course_id: currentCourseID,
          description: examDescription,
          section_name: sectionName,
          passing_score: passingScore,
          date: examDate,
          minutes_allowed: examAllowedMinutes,
          start_time: examStartTime,
          end_time: examEndTime,
          exam_status: currentExamStatus
        }

        var data = JSON.stringify(data);
        console.log(data);
         fetch("/teacher/edit-exam", {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body: data
        }).then(response => {
          if (response.status == 200) {
            window.location.reload();
          }
        })
      })


      $('.datepicker').datepicker({
        format: 'yyyy/mm/dd'
      });

      $('#examStartTime').timepicker({
        uiLibrary: 'bootstrap4'
      });

      $('#examEndTime').timepicker({
        uiLibrary: 'bootstrap4'
      });

      $('#editExamStartTime').timepicker({
        uiLibrary: 'bootstrap4'
      });

      $('#editExamEndTime').timepicker({
        uiLibrary: 'bootstrap4'
      });
    })

  </script>
</head>

<body style="background-color: #DFDFDF;">
  <div th:replace="@{fragments/nav}"></div>
  <div class="d-flex justify-content-end" style="padding-top: 150px; orientation: landscape">
    <div style="padding: 8px;" th:text="${testList.size}"></div>
    <div style="padding-top: 8px; padding-right: 10px;"> Items Found</div>
    <div class="btn btn-primary" style="margin-right: 20px;" data-toggle="modal" data-target="#createExamContent">
      Create Exam Content
    </div>
  </div>
  <div class="container" style="padding-top: 50px;">
    <div class="row">
      <div class="col-lg-6" th:each="test, index:${testList}">
        <div class="card"
          style="background-color: white; padding: 15px; width: 450px; border-radius: 10px; margin: 10px;">
          <div class="d-flex justify-content-between" style="padding-top: 10px; padding-bottom: 10px;">
            <div th:text="${index.count}" style="padding-top: 5px;"></div>
            <div id="editDialog" th:onclick="setDataToEditDialog([[${test}]]);">
              <div class="btn" data-toggle="modal" data-target="#editExamContent">
                <img th:src="@{/images/edit.png}" width="20" />
              </div>
              <div class="btn" data-toggle="modal" data-target="#editExamContent">
                <img th:src="@{/images/cross-mark.png}" width="20" />
              </div>
            </div>
          </div>
          <div th:text="${test.description}"></div>
          <div th:text="${test.exam_status}"></div>
          <div class="d-flex justify-content-start">
            <div th:text="${test.courseInfo.courseName}"></div>
            <div style="padding-left: 20px; padding-right: 5px;"> ( </div>
            <div th:text="${test.section_name}"></div>
            <div style="padding-left: 5px;"> ) </div>
          </div>
          <div th:text="${test.userInfo.userName}"></div>
          <div class="d-flex justify-content-start" style="color: gray">
            <div th:text="${test.date}"></div>
            <div style="padding-left: 20px; padding-right: 5px;"> ( </div>
            <div th:text="${test.start_time}"></div>
            <div style="padding-left: 5px; padding-right: 5px;"> - </div>
            <div th:text="${test.end_time}"></div>
            <div style="padding-left: 5px; padding-right: 5px;"> ) </div>
          </div>
          <div class="d-flex justify-content-start">
            <div th:text="${test.minutes_allowed}"></div>
            <div style="padding-left: 5px;">Minutes Allowed</div>
          </div>
          <div class="d-flex justify-content-start">
            <div th:text="${test.passing_score_percent}"></div>
            <div style="padding-left: 5px;">%</div>
          </div>

          <div class="d-flex justify-content-between">
            <a href="/teacher/exam/questions">Exam Questions</a>
            <a href="/teacher/exam/examinee">Set Examinee</a>
            <a href="/teacher/exam/result">Set Result</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="createExamContent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create Exam Content</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="dropdown" style="width: 100%;">
              <button class="btn btn-primary dropdown-toggle" type="button" id="courseDropDown" data-toggle="dropdown"
                aria-expanded="false">
                Select Course
              </button>
              <ul class="dropdown-menu" aria-labelledby="courseDropDown">
                <li th:each="course, index: ${courseList}"><a class="dropdown-item" th:text="${course.courseName}"
                    th:onclick="setCourse([[${course.courseId}]], [[${course.courseName}]]);"></a></li>
              </ul>
            </div>
            Description
            <input type="text" class="form-control" id="examDescription" aria-describedby="Description">
            Section Name
            <input type="text" class="form-control" id="sectionName" aria-describedby="Section Name">
            Exam Date
            <div class="input-group date" data-provide="datepicker">
              <input type="text" class="form-control" id="examDate">
              <div class="input-group-addon">
                <span class="glyphicon glyphicon-th"></span>
              </div>
            </div>
            Start Time
            <input id="examStartTime" />
            End Time
            <input id="examEndTime" />
            Passing Score
            <input type="text" class="form-control" id="passingScore" aria-describedby="Passing Score">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="submitExam">Submit</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="editExamContent" tabindex="-1" role="dialog" aria-labelledby="editExam"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editExam">Edit Exam Content</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="dropdown" style="width: 100%;">
              <button class="btn btn-primary dropdown-toggle" type="button" id="editCourseDropDown"
                data-toggle="dropdown" aria-expanded="false">
                Select Course
              </button>
              <ul class="dropdown-menu" aria-labelledby="courseDropDown">
                <li th:each="course, index: ${courseList}">
                  <a class="dropdown-item" th:text="${course.courseName}"
                    th:onclick="editCourse([[${course.courseId}]], [[${course.courseName}]]);">
                  </a>
                </li>
              </ul>
            </div>
            Description
            <input type="text" class="form-control" id="editExamDescription" aria-describedby="Exam Description">
            Section Name
            <input type="text" class="form-control" id="editSectionName" aria-describedby="Section Name">
            <div class="dropdown" style="padding-top: 10px;">
              <button class="btn btn-primary dropdown-toggle" type="button" id="editExamStatus" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Select Exam Status
              </button>
              <div class="dropdown-menu" aria-labelledby="editExamStatus">
                <a class="dropdown-item" onclick="editExamstatus('Exam Created')">Exam Created</a>
                <a class="dropdown-item" onclick="editExamstatus('Questions Created')">Questions Created</a>
                <a class="dropdown-item" onclick="editExamstatus('Marking')">Marking</a>
                <a class="dropdown-item" onclick="editExamstatus('Result Released')">Result Released</a>
              </div>
            </div>
            Exam Date
            <div class="input-group date" data-provide="datepicker">
              <input type="text" class="form-control" id="editExamDate">
              <div class="input-group-addon">
                <span class="glyphicon glyphicon-th"></span>
              </div>
            </div>
            Start Time
            <input id="editExamStartTime" />
            End Time
            <input id="editExamEndTime" />
            Passing Score
            <input type="text" class="form-control" id="editPassingScore" aria-describedby="Passing Score">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="updateExam">Update</button>
        </div>
      </div>
    </div>
  </div>
</body>

</html>