<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extrasspringsecurity4">

<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/ico" href="http://www.datatables.net/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, user-scalable=no">
    <title>Mapping Site</title>
    <!-- <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/dataTables.bootstrap5.css">
    <link rel="stylesheet" type="text/css" href="css/shCore.css">
    <link rel="stylesheet" type="text/css" href="css/demo.css">
    <!-- <link rel="stylesheet" type="text/css" href="css/dataTableManual.css">
    <link rel="stylesheet" type="text/css" href="css/dataTableSCSSMaual.css"> -->



    <title>Mapping Site</title>
    <style>
        .studentListHeader{
            background-color: #5227CC;
            color: #fff;
            font-weight: bold;
            font-size: 16px;
        }
    </style>
</head>
</html>
<body>

    <div class="card mx-auto p-3" style="max-width: 800px;">
        <div class="card-header text-center studentListHeader">
          Course Registration
        </div>
        <div class="p-3">
            <form>
                <div class="row mb-3">
                    <div class="col-sm-2">
                      <label for="classtype" class="col-form-label">Class Type</label>
                    </div>
                    <div class="col-auto">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="yesno" id="yesCheck" value="live">
                            <label class="form-check-label" for="yesCheck">Live</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="yesno" id="noCheck" value="video">
                            <label class="form-check-label" for="noCheck">Radio</label>
                        </div>
                    </div>
                </div>
                <!-- <div class="row mb-3">
                    <div class="col-auto">
                      <label for="coursename" class="col-form-label">Course Name</label>
                    </div>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="coursename" placeholder="Japanese Language">
                    </div>
                </div>
                <div class="row mb-3">
                    
                      <label for="clevel" class="col-sm-2 col-form-label">Level</label>
                    
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="coursename" placeholder="Enter Course Level(For example : Japanese Basic)">
                    </div>
                </div> -->
                <div class="row mb-3">
                    <label for="coursename" class="col-sm-2 col-form-label">Course Name</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="coursename" placeholder="Japanese Language">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="clevel" class="col-sm-2 col-form-label">Level</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="clevel" placeholder="Enter Course Level(For example : Japanese Basic)">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="cfee" class="col-sm-2 col-form-label">Course Fees</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="cfee" placeholder="Enter Course Fee(Kyats)">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="maxstu" class="col-sm-2 col-form-label">Maximum Students</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="maxstu" placeholder="Enter Maximum Student Numbers to join the course">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="coursename" class="col-sm-2 col-form-label">Course Name</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="coursename" placeholder="Japanese Language">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="clevel" class="col-sm-2 col-form-label">Level</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="clevel" placeholder="Enter Course Level(For example : Japanese Basic)">
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>