<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extrasspringsecurity4">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
  <title>Mapping Site</title>
  <link rel="stylesheet" type="text/css" href="css/CM0001_Complete.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js}" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</head>
<body>
  <div th:replace="${nav_type}"></div>
  <!-- Hello -->
  <div id="registercomplete">
    
    
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <th:block th:each="bc : ${breadcrumbList}">
        <!-- TODO change last route color -->
        <li class="breadcrumb-item"><a href="#" th:utext="${bc}" style="text-decoration: none;color: #7749F8;"></a></li> 
        <!-- <li class="breadcrumb-item active"><a href="#" th:utext="${state.last}"></a></li> -->
      </th:block>
      
      
      <!-- <li class="breadcrumb-item"><a href="#">Explore Courses</a></li>
        <li class="breadcrumb-item"><a href="#">Basic Programming</a></li>
        <li class="breadcrumb-item"><a href="#">Payment</a></li>
        <li class="breadcrumb-item active" aria-current="page" th:text="${header3}">Payment Complete</li> -->
      </ol>
    </nav>
    
    <h3 class="text-center" th:text="${header3}"><!-- <span class="badge bg-secondary">New</span> --></h3>
    <div class="card mx-auto shadow-sm rounded bg-body" style="max-width: 540px;">
      <!-- <h5 class="card-header">Featured</h5> -->
      <div class="card-body">
        <h5 class="card-title text-center" th:text="${header5}"></h5>
        <p class="card-text text-center" th:text="${paragraph}"></p>
        <a th:href="@{/}" class="btn btn-primary" style="float: right;">Go Back</a>
      </div>
    </div>
  </div>
  <!-- Hello -->
  
  <!-- Footer -->
  <div th:replace="fragments/footer"></div>
  <!-- Footer -->
  
</body>
</html>