<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inquiry Form Confirmation</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/emailconfirm.css}" />
    <link rel="stylesheet" th:href="@{/css/AT0004_ExamManagement.css}" />
  <link rel="stylesheet" th:href="@{/css/CM0004_Student Profile.css}" />
  <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
  <link rel="stylesheet" th:href="@{/css/global.css}" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   
  


  

   





</head>
<body>

    <div th:replace="@{fragments/nav}"></div>

    
    <article class="confirmation-screen" style="background-image: url('/images/background11.png');margin-top: 100px;">
        <div class="container">
            <div class="d-flex justify-content-start align-items-center min-vh-100">
                <div class="confirmation-box">
                    <h3 class="fw-bold">Confirmation</h3>
                    <p class="text-danger">Please confirm the contents before submit. </p>
                    <div class="items-container px-3 py-4 shadow rounded-3">
                        <div class="items" style="display: none;">
                            <span class="title">ID</span>
                            <span id="Id" class="fw-bold" th:text="${contactId}"></span>
                        </div>
                        <div class="items">
                            <span class="title">Name :</span>
                            <span id="name" class="fw-bold" th:text="${name}"></span>
                        </div>
                        <div class="items">
                            <span class="title">Email :</span>
                            <span id="email" class="fw-bold" th:text="${email}"></span>
                        </div>
                        <div class="items">
                            <span class="title">Phone Number :</span>
                            <span id="number" class="fw-bold" th:text="${phone}"></span>
                        </div>
                        <div class="items">
                            <span class="title">Contact Reason :</span>
                            <span id="details" class="fw-bold"  th:text="${details}"></span>
                        </div>
                        <div class="items">
                            <span class="title">Detailed Description :</span>
                            <div id="description" class="description"  th:text="${description}"></div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mt-3">
                        <button class="btn btn-dark px-3" onclick="goBack()">
                            <span class="text-white">Back</span>
                        </button>

                        <input type="button" value="Send Email" class="btn btn-dark px-3"
                         id="sendEmailButton" />

                    </div>
                </div>
            </div>
        </div>
    </article>

    <div style="height: 120px"></div>

    <div th:replace="@{fragments/footer}"></div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script th:inline="javascript">

        $(document).ready(function (){
         $("#sendEmailButton").click(function (event){
            //event.preventDefault(); // Prevent default form submission behavior    

            var contactId = document.getElementById("Id").textContent;
             if (contactId == "") {
                 return;
             }
             
             var name = document.getElementById("name").textContent;
             if (name == "") {
                 return;
             }
 
             var email = document.getElementById("email").textContent;
             if (email == "") {
                 return;
           
             }
             
             var number = document.getElementById("number").textContent;
             if (number == "") {
                 return;
             }

             var details = document.getElementById("details").textContent;
             if (details == "") {
                 return;
             }
            
             
            
 
             var description = document.getElementById("description").textContent;
             if (description == "") {
                 return;
             }
 
             
             
             var data = JSON.stringify({
             name: name,
             email: email,
             number: number,
             details: details,
             description: description
           });
 
         fetch("/guest/sendEmail?contactId=" + contactId, {
             method: "POST",
             headers: {
                 "Content-Type": "application/json"
             },
             body: data
         }).then(response => {
            if (response.status == 200) {
                window.location.href = '/CompleteScreen.html';

            }
         });
        });
 });
 
        
 
        
     
     
     </script>
</body>

</html>
