<!DOCTYPE html>
<html lang="en">
  <!-- <html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extrasspringsecurity4"> -->
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Course List</title>

    <link rel="icon" type="image/x-icon" href="/images/fav.png" />
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/css/CM0002_CourseList.css}"
    />
  </head>
  <body>
    <div th:replace="@{fragments/nav}"></div>

    <!-- Back to top button -->

    <!-- Advance Search -->
    <div
      class="container-fluid mb-3"
      style="background-color: #5eba7d"
      th:if="${searchable}"
    >
      <h2 class="pt-3 mb-3 text-white">Explore Courses</h2>

      <form
        th:action="@{__${#httpServletRequest.requestURI}__}"
        method="get"
        th:object="${courseInfoDTO}"
        class="form-floating"
      >
        <div class="row g-2 mb-3 justify-content-start">
          <div class="col-md-3 col-sm-6 col-12">
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                th:field="*{courseName}"
                placeholder="Course Name"
              />
              <label for="courseName">Course Name</label>
            </div>
          </div>

          <div class="col-md-3 col-sm-6 col-12">
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                th:field="*{teacherName}"
                placeholder="Teacher Name"
              />
              <label for="teacherName">Teacher Name</label>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-12">
            <div class="form-floating">
              <input type="date" class="form-control" th:field="*{startDate}" />
              <label for="startDate">Start Date</label>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-12">
            <div class="form-floating">
              <input type="date" class="form-control" th:field="*{endDate}" />
              <label for="endDate">End Date</label>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-12">
            <div class="form-floating">
              <input
                type="number"
                class="form-control"
                th:field="*{lowestFee}"
                min="0"
                step="1000"
              />
              <label for="lowestFee">Lowest Fee</label>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-12">
            <div class="form-floating">
              <input
                type="number"
                class="form-control"
                th:field="*{highestFee}"
                min="0"
                step="1000"
              />
              <label for="highestFee">Highest Fee</label>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-12"></div>
          <div class="col-md-3 col-sm-6 col-12 text-end">
            <button type="submit" class="btn btn-primary btn-lg">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-search"
                viewBox="0 0 16 16"
              >
                <path
                  d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
                ></path>
              </svg>
              Search
            </button>
          </div>
        </div>
        <div class="pb-3 d-grid gap-2 d-md-flex justify-content-md-end">
          <!-- <button type="submit" class="btn btn-lg btn-primary">Search</button> -->
        </div>

        <!-- End of row -->
      </form>
    </div>
    <!-- End : Advance Search -->

    <!-- User Info -->
    <div
      class="container-fluid mb-3 py-3"
      style="background-color: #5eba7d"
      th:unless="${userInfo == null}"
    >
      <div class="row">
        <div class="col-auto">
          <img
            th:if="${profilePic == null}"
            th:src="@{/images/profile.png}"
            class="rounded-circle"
            style="width: 150px"
            alt="Avatar"
          />
          <img
            th:unless="${profilePic == null}"
            th:src="${profilePic.url}"
            class="rounded-circle"
            style="width: 150px"
            alt="Avatar"
          />
        </div>

        <div class="text-white col-auto mt-2 mt-sm-0">
          <h4 th:text="${userInfo.userName}"></h4>
          <p th:text="${userInfo.selfDescription}"></p>
          <div sec:authorize="hasAuthority('ROLE_TEACHER')">
            <div th:if="${userInfo.userAccount.accountStatus == 'VERIFIED'}">
              <a
                th:href="@{/teacher/course-registration}"
                class="btn btn-primary"
                >Add Course</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End: User Info -->

    <div class="container-fluid">
      <div class="row">
        <!-- Filter -->
        <div class="col-sm-auto col-12 mb-3">
          <div class="card">
            <div class="card-header">See the filtered Result</div>
            <ul class="list-group list-group-flush filterContainer"></ul>
            <div class="card-body">
              <button class="btn btn-primary filterBtn" type="submit">
                Apply
              </button>
              <button class="btn btn-danger clearBtn" type="submit">
                Clear
              </button>
            </div>
          </div>
        </div>
        <!-- End: Filter -->
        <div class="col" id="course">
          <p
            id="zero-result-msg"
            class="text-center text-danger mt-5"
            style="display: none"
            th:text="${emptyMessage}"
          >
            Sorry, No Search Result Found!
          </p>
          <div id="courseList" class="row g-2 my-3"></div>
        </div>
      </div>
    </div>

    <div th:replace="@{fragments/footer}"></div>

    <!-- JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script th:src="@{/js/pagination.min.js}"></script>

    <script th:inline="javascript">
      const courseList = /*[[${courseList}]]*/ false;
    </script>
    <script th:src="@{/js/CM0002_CourseList.js}"></script>
    <script src="/js/toTheTop.js"></script>
  </body>
</html>
